<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="font-size: 20px">Create New Role</h4><br>
                        <form class="form-sample">
                            <div class="row">
                                <div class="col-md-12">
                                    <form [formGroup]="editDetailRoleForm">
                                        <div class="form-row">
                                            <div class="col-md-3 col-lg-3 col-sm-3">
                                                <label>Role Name</label>
                                                <input type="text" class="form-control" formControlName="roleName"
                                                    [(ngModel)]="roleDetail.roleName" id="roleName" name="roleName"
                                                    placeholder="Enter new role name"
                                                    style="border-radius: 0px; width: 100%">
                                                <div style="color: #ed4a4a; font-size: 12px;"
                                                    *ngIf="editDetailRoleForm.controls.roleName.invalid &&  editDetailRoleForm.controls.roleName.touched">
                                                    Role name required</div>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-sm-3">
                                                <label>Role Code</label>
                                                <input type="text" class="form-control" formControlName="roleCode"
                                                    [(ngModel)]="roleDetail.roleCode" id="roleCode" name="roleCode"
                                                    placeholder="Enter new role code"
                                                    style="border-radius: 0px; width: 100%">
                                                <div style="color: #ed4a4a; font-size: 12px;"
                                                    *ngIf="editDetailRoleForm.controls.roleCode.invalid &&  editDetailRoleForm.controls.roleCode.touched">
                                                    Role code required</div>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-sm-3">
                                                <label class="col-md-12 col-form-label"
                                                    style="color:transparent">-</label>
                                                <button type="button" class="btn btn-icons btn-inverse-primary"
                                                    style="float: center; min-width: 100%;"
                                                    [disabled]="editDetailRoleForm.invalid" (click)="createNewRole()">
                                                    Create New Role
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        
                            <table class="table table-striped">
                                <thead style="text-align: center">
                                    <tr>
                                        <th>Task Id</th>
                                        <th>Task Name</th>
                                        <th>Read</th>
                                        <th>Write</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead><br>
                                <tbody style="text-align: center">
                                    <tr style="min-height: 20px;" *ngFor="let task of taskList; let i = index">
                                        <td>{{task.taskCrudId}}</td>
                                        <td>{{task.taskCrudName}}</td>
                                        <td>
                                            <div class="icheck input" style="margin-top: 5px;"
                                                *ngIf="task.readTaskId != -99 ">
                                                <input type="checkbox" [(ngModel)]="listOfActionRead[i]">
                                                <label></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="icheck input" style="margin-top: 5px;"
                                                *ngIf="task.createTaskId != -99 ">
                                                <input type="checkbox" [(ngModel)]="listOfActionCreate[i]">
                                                <label></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="icheck input" style="margin-top: 5px;"
                                                *ngIf="task.updateTaskId != -99 ">
                                                <input type="checkbox" [(ngModel)]="listOfActionUpdate[i]">
                                                <label></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="icheck input" style="margin-top: 5px;"
                                                *ngIf="task.deleteTaskId != -99 ">
                                                <input type="checkbox" [(ngModel)]="listOfActionDelete[i]">
                                                <label></label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <br />
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>