<div class="row">
  <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4>Kalender Hari Libur</h4>
        <br />
        <div class="row justify-content-end">
          <div class="col-12 col-sm-6 col-md-3 mb-1">
            <div class="the-basics">
              <button
                *ngIf="loadingBar == false"
                class="btn btn-icons btn-inverse-warning"
                style="min-width: 100%"
                data-toggle="modal"
                data-target="#modalUpload"
              >
                <i class="mdi mdi-upload"></i> Unggah
              </button>
              <button
                *ngIf="loadingBar == true"
                class="btn btn-icons btn-light"
                style="min-width: 100%"
              >
                <div class="loader" style="margin: auto"></div>
              </button>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="the-basics">
              <button
                type="button"
                class="btn btn-icons btn-inverse-primary"
                style="min-width: 100%"
                data-toggle="modal"
                data-target="#modalAddHoliday"
                [disabled]="loadingBar == true"
              >
                <i class="mdi mdi-plus"></i> Tambah
              </button>
            </div>
          </div>
        </div>

        <br />

        <ng-container *ngIf="loadingData == true">
          <div style="text-align: center; min-width: 100%">
            <div class="col-md-12 col-sm-6 grid-margin stretch-card">
              <div class="loader-demo-box">
                <div class="dot-opacity-loader">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="loadingData == false">
          <div class="search-table-outter wrapper">
            <table>
              <thead style="text-align: center">
                <tr>
                  <th scope="col" style="width: 30%; text-align: left">
                    Tanggal
                  </th>
                  <th scope="col" style="width: 40%; text-align: left">
                    Keterangan
                  </th>
                  <th scope="col" style="width: 30%">Aksi</th>
                </tr>
              </thead>

              <tbody *ngIf="listHoliday.length == 0" style="text-align: center">
                <tr class="text-center">
                  <td colspan="3"><b>Data tidak ditemukan !</b></td>
                </tr>
              </tbody>

              <tbody *ngIf="listHoliday.length > 0" style="text-align: center">
                <tr
                  *ngFor="
                    let holiday of listHoliday
                      | paginate: { itemsPerPage: 10, currentPage: p };
                    let i = index
                  "
                >
                  <td scope="row" style="text-align: left">
                    {{ holiday.holidayDate }}
                  </td>
                  <td scope="row" style="text-align: left">
                    {{ holiday.remark }}
                  </td>
                  <td scope="row">
                    <i
                      class="mdi mdi-account-edit"
                      style="cursor: pointer; margin-right: 20px"
                      (click)="updateconfirmed(holiday.id)"
                      data-toggle="modal"
                      data-target="#modalEditHoliday"
                    ></i>
                    <i
                      class="mdi mdi-delete"
                      style="color: red; cursor: pointer; margin-right: 20px"
                      (click)="deleteconfirmed(holiday.id)"
                      data-toggle="modal"
                      data-target="#modalDelete"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </div>
      <pagination-controls
        class="my-pagination"
        (pageChange)="p = $event"
        align="right"
      >
      </pagination-controls>
    </div>
  </div>
</div>

<!-- Modal Add -->
<div class="modal" id="modalAddHoliday">
  <div class="modal-dialog" style="min-width: 35%">
    <div class="modal-content">
      <div class="card">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddHolidayLabel">Add Holiday</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form class="form-sample">
            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="addHolidayForm">
                  <div class="form-group">
                    <label for="txtYear">Tanggal</label>

                    <div
                      id="datepicker-add"
                      class="input-group date datepicker btn-block"
                      style="min-width: 100%"
                    >
                      <input
                        type="text"
                        class="form-control"
                        id="periodAdd"
                        name="periodAdd"
                        formControlName="period"
                      />
                      <span
                        class="input-group-addon input-group-append border-left"
                        style="text-align: center"
                      >
                        <span
                          class="mdi mdi-calendar input-group-text"
                          style="padding: 5px"
                        ></span>
                      </span>
                    </div>

                    <span
                      *ngIf="flagAdd"
                      style="font-size: 10px; color: #ed4a4a"
                    >
                      Periode tidak boleh kosong</span
                    >
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Keterangan Libur</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="holidayDetail.remark"
                      formControlName="remark"
                      id="remark"
                      name="remark"
                      placeholder="masukan keterangan"
                    />
                    <div
                      style="color: #ed4a4a; font-size: 12px"
                      *ngIf="
                        updateHolidayForm.controls.remark.invalid &&
                        updateHolidayForm.controls.remark.touched
                      "
                    >
                      User name required
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="addHoliday()"
            data-dismiss="modal"
          >
            Submit
          </button>
          <button type="button" class="btn btn-light" data-dismiss="modal">
            Keluar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit -->
<div class="modal" id="modalEditHoliday">
  <div class="modal-dialog" style="min-width: 35%">
    <div class="modal-content">
      <div class="card">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditHolidayLabel">Edit Holiday</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form class="form-sample">
            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="updateHolidayForm">
                  <div class="form-group">
                    <label for="txtYear">Tanggal</label>

                    <div
                      id="datepicker-edit"
                      class="input-group date datepicker btn-block"
                      style="min-width: 100%"
                    >
                      <input
                        type="text"
                        class="form-control"
                        id="periodEdit"
                        name="periodEdit"
                        formControlName="period"
                        readonly
                      />
                      <span
                        class="input-group-addon input-group-append border-left"
                        style="text-align: center"
                      >
                        <span
                          class="mdi mdi-calendar input-group-text"
                          style="padding: 5px"
                        ></span>
                      </span>
                    </div>

                    <!-- <span *ngIf="flagPeriod" style="font-size: 10px;  color: #ed4a4a;">
                                            Periode tidak boleh kosong</span> -->
                  </div>
                  <div class="form-group">
                    <label class="col-md-12 col-form-label"
                      >Keterangan Libur</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="holidayDetail.remark"
                      formControlName="remark"
                      id="remark"
                      name="remark"
                      placeholder="Enter new role name"
                    />
                    <div
                      style="color: #ed4a4a; font-size: 12px"
                      *ngIf="
                        updateHolidayForm.controls.remark.invalid &&
                        updateHolidayForm.controls.remark.touched
                      "
                    >
                      User name required
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="updateHoliday()"
            data-dismiss="modal"
          >
            Update
          </button>
          <button type="button" class="btn btn-light" data-dismiss="modal">
            Keluar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modals Delete -->
<div
  class="modal fade"
  id="modalDelete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel-3"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Delete Role</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin ingin menghapus data ini?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteHoliday()"
          data-dismiss="modal"
        >
          Delete
        </button>
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Upload -->
<div
  class="modal fade"
  id="modalUpload"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel-7"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-5">Upload Data</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Harap download format excell terbaru berikut sebelum mengunggah<br />
          <!-- You can download it<a (click)="downloadCsv()" style="cursor: pointer; color: rgb(65, 170, 214); text-decoration: underline"> here</a> -->
          <a target="_blank" href="{{ baseURL }}assets/holiday.xlsx">
            Klik disini untuk download excel
          </a>
        </p>

        <form [formGroup]="uploadFileForm">
          <label style="font-size: 14px">File Upload</label>
          <input
            style="padding-top: 8px"
            type="file"
            accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            class="form-control"
            formControlName="UploadFile"
            id="uploadFile"
            (change)="onchangeUpload($event)"
            name="uploadFile"
            placeholder="uploadFile"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-success"
          data-dismiss="modal"
          (click)="uploadFileToActivity()"
        >
          Submit
        </button>
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
