<nav
  class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
  style="background-color: #000141"
>
  <div class="d-lg-none" style="margin-left: 20px">
    <a class="navbar-brand brand-logo">
      <img
        src="assets\EATSresizeheight.png"
        style="height: 47px; width: 90px"
        alt="logo"
      />
    </a>
  </div>
  <div
    class="
      text-center
      navbar-brand-wrapper
      d-flex
      align-items-top
      justify-content-center
    "
    style="background-color: #000141"
  >
    <a class="navbar-brand brand-logo">
      <img
        src="assets\EATSresizeheight.png"
        style="height: 47px; width: 90px"
        alt="logo"
      />
    </a>
    <!-- <a class="navbar-brand brand-logo-mini" > -->
    <!-- <img src="src/images/webcs.png" alt="logo" /> </a> -->
  </div>
  <div
    class="navbar-menu-wrapper d-flex align-items-center"
    style="background-color: #000141"
  >
    <!-- <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
    </button> -->
    <ul class="navbar-nav navbar-nav-left header-links d-none d-lg-flex">
      <div class="container" style="margin-top: 10px">
        <app-clock></app-clock>
      </div>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <!--  -->
      <!-- <li class="nav-item dropdown d-none d-xl-inline-block">
        <span class="mdi mdi-bell-outline" id="UserDropdown" (click)="notification()" href="#" data-hover="dropdown" aria-expanded="false"
          style="float: right; font-size: 40px; cursor: pointer;"><label style="font-size: 15px;">{{lengthNotif}}</label></span>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"   aria-labelledby="UserDropdown">
          <div class="dropdown-menu">
          </div>
        </div>
      </li> -->
      <!-- <li class="nav-item dropdown d-none d-xl-inline-block">
        <span class="mdi mdi-bell-outline" id="UserDropdown" href="#" data-toggle="dropdown" (click)="notification()"
          href="#" data-hover="dropdown" aria-expanded="false"
          style="float: right; font-size: 40px; cursor: pointer;"><label
            style="font-size: 15px;">{{lengthNotif}}</label></span>
        <div class="dropdown-menu navbar-dropdown" aria-labelledby="UserDropdown" style="width: 200px;">
          <div class="container" *ngFor="let data of data">
            <div (click)="gotoTask(data.date)" style="cursor: pointer;">
              <label class="control-label col-sm-12" style="font-size: 16px;">{{data.day}}</label>
              <div class="row">
                <div class="col-md-4">
                  <label class="control-label">
                    plan
                  </label>
                </div>
                <div class="col-md-1">
                  :
                </div>
                <div class="col-md-6">
                  <label class="control-label">{{data.plan}} jam</label>
                </div>

              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="control-label">
                    actual
                  </label>
                </div>
                <div class="col-md-1">
                  :
                </div>
                <div class="col-md-6">
                  <label class="control-label">
                    {{data.actual}} jam
                  </label>
                </div>

              </div>

              <hr>
            </div>
          </div>
        </div>
      </li> -->

      <!--  -->
      <li class="nav-item dropdown d-none d-lg-block">
        <a
          class="nav-link dropdown-toggle"
          id="UserDropdown"
          href="#"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="profile-text">Hello, {{ usernameResult }}!</span>
          <img
            class="img-xs rounded-circle"
            src="{{ userImageResult }}"
            alt="Profile image"
          />
        </a>
        <div
          class="dropdown-menu dropdown-menu-right navbar-dropdown"
          aria-labelledby="UserDropdown"
        >
          <a
            class="dropdown-item"
            routerLink="/usermanagement"
            *ngIf="getUserManagementService.statusAccess == 'Y'"
            >User Management</a
          >
          <a
            class="dropdown-item"
            routerLink="/configuration"
            *ngIf="getConfigService.statusAccess == 'Y'"
            >Configuration</a
          >
          <!-- <a class="dropdown-item" routerLink='/rolemanagement' *ngIf="getRoleManagementService.statusAccess=='Y'" >Role Management</a> -->
          <a class="dropdown-item" routerLink="/settings">Pengaturan Profile</a>
          <a class="dropdown-item" routerLink="/changepassword"
            >Ganti Password</a
          >
          <a
            style="cursor: pointer"
            class="dropdown-item"
            data-toggle="modal"
            data-target="#exampleModal-10"
            >Log Out</a
          >
        </div>
      </li>
    </ul>
    <button
      class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
      type="button"
      data-toggle="offcanvas"
      (click)="toggle()"
    >
      <span class="icon-menu"></span>
    </button>
  </div>
</nav>

<!-- MODAL -->
<div
  class="modal fade"
  id="exampleModal-10"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel-10"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-4">Log out</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to log out?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          (click)="logout()"
          data-dismiss="modal"
        >
          Yes
        </button>
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
