<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="ui form" [formGroup]="settingForm">
                    <h4 class="card-title" style="font-size: 20px">Pengaturan</h4><br>

                    <div class="row" style="margin-top: -20px;">
                        <div class="col-md-5"></div>
                        <div class="col-md-2" style="margin: auto;">
                            <img src={{userImageResult}} *ngIf="flag=='true'" style=" height: 150px; width: 100%;">
                            <img *ngFor="let item of base64textString" src={{item}} (click)="file.click()"
                                style=" height: 150px; width: 100%; cursor: pointer;" alt="" id="img">
                        </div>
                        <div class="col-md-5"></div>
                    </div>

                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-5"></div>
                        <div class="col-md-2" style="margin: auto; align-items: center;">
                            <input type="file" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .pdf"
                                style="display: none;" #file />
                            <button type="submit" class="btn btn-success" style="width: 100%;" (click)="file.click()"
                                *ngIf="flag=='true' && loadingBar=='false'">Pilih
                                Foto</button>
                            <button type="submit" class="btn btn-warning" style="width: 100%;"
                                *ngIf="flag=='false' && loadingBar=='false'" (click)="uploadfoto()">Unggah
                                Foto</button>
                            <button *ngIf="loadingBar=='true'" class="btn btn-icons btn-inverse-warning"
                                style="float: right; width: 100%; cursor: none;">
                                <div class="loader" style="margin: auto;"></div>
                            </button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label style="font-size: 15px; width: 200px;">Nama User</label>
                            <div id="the-basics">
                                <input type="text" class="typeahead" style="min-width: 100%; font-size: 14px;"
                                    formControlName="username" readonly>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label style="font-size: 15px; width: 200px;">Nama Lengkap</label>
                            <div id="the-basics">
                                <input type="text" class="typeahead" style="min-width: 100%; font-size: 14px;"
                                    formControlName="fullname">
                                <div style="color: #ed4a4a; font-size: 12px"
                                    *ngIf="settingForm.controls.fullname.invalid &&  settingForm.controls.fullname.touched">
                                    User name required</div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>


                    <div class="form-group row">
                        <div class="col-md-12">
                            <label style="font-size: 15px; width: 200px;">Email</label>
                            <div id="the-basics">
                                <input type="text" class="typeahead" style="min-width: 100%; font-size: 14px;"
                                    formControlName="email" readonly>
                                <div style="color: #ed4a4a; font-size: 12px"
                                    *ngIf="settingForm.controls.email.invalid &&  settingForm.controls.email.touched">
                                    Email required</div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label style="font-size: 15px; width: 200px;">Telepon</label>
                            <div id="the-basics">
                                <input type="text" class="typeahead" style="min-width: 100%; font-size: 14px;"
                                    oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                                    formControlName="phone">
                                <div style="color: #ed4a4a; font-size: 12px"
                                    *ngIf="settingForm.controls.phone.invalid &&  settingForm.controls.phone.touched">
                                    Phone required</div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label style="font-size: 15px; width: 200px;">Alamat</label>
                            <div id="the-basics">
                                <textarea class="typeahead" rows="3" style="font-size: 14px;" maxlength="255"
                                    formControlName="address"></textarea>
                                <div style="color: #ed4a4a; font-size: 12px"
                                    *ngIf="settingForm.controls.address.invalid &&  settingForm.controls.address.touched">
                                    Address required</div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>


                    <div class="form-group row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div id="the-basics">
                                <label style="color: transparent;">-</label>
                                <button *ngIf="loadingprof=='false'" class="btn btn-icons btn-inverse-warning" style="float: right;min-width: 100%"
                                    data-toggle="modal" data-target="#exampleModal-change"
                                    [disabled]="settingForm.invalid">Perbaharui Profil</button>
                                <button *ngIf="loadingprof=='true'" class="btn btn-icons btn-inverse-warning"
                                    style="float: right; min-width: 100%; cursor: none;">
                                    <div class="loader" style="margin: auto; margin-top: -5px;"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal-change" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-change"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel-change">Perbaharui Profil ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Apakah anda yakin perbaharui profil ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="updateSettings()">Perbaharui</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>