<div class="row">
  <div class="col-md-12 grid-margin">
    <!-- Form Create Task -->
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-12 grid-margin stretch-card"
        style="margin-top: -12px"
      >
        <div class="card">
          <div class="card-body">
            <div class="row" style="margin-top: -10px">
              <div class="col-sm-12 col-xs-12">
                <div class="group">
                  <h4 class="mb-0">Buat Tugas Harian</h4>
                </div>
              </div>
              <div class="col-sm-8">
                <!-- <div class="btn-group" style="float: right; border: none; cursor: pointer;">
                                    <span class="mdi mdi-bell-outline" data-toggle="dropdown"
                                        style="float: right; font-size: 50px; margin-top: -20px;"><label style="font-size: 15px;">1</label></span>
                                    <div class="dropdown-menu">

                                    </div>
                                </div> -->
              </div>
              <div class="col-sm-1"></div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-3 col-12">
                <h5 class="card-title">PID</h5>
              </div>
              <div class="col-md-1 col-sm-1 d-none d-sm-block">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-md-8 col-sm-8 col-12">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    list="codes"
                    [(ngModel)]="codeValue"
                    (change)="saveCode($event)"
                  />
                  <datalist id="codes">
                    <option *ngFor="let c of codeList" data-value="c.id">
                      {{ c.name }}-[{{ c.pid }}]
                    </option>
                  </datalist>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-3 col-12">
                <h5 class="card-title">Rencana jam kerja</h5>
              </div>
              <div class="col-md-1 col-sm-1 d-none d-sm-block">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-md-8 col-sm-8 col-12">
                <!-- oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" -->
                <input
                  type="number"
                  maxlength="4"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  class="form-control"
                  [(ngModel)]="workingHourPlan"
                  placeholder="per Jam"
                  (change)="actionIfFalse()"
                />
              </div>
            </div>

            <!-- If User Manager/Sechead -->
            <div
              class="row"
              *ngIf="
                roleName == nameRoleManager ||
                roleName == nameRoleSecHead ||
                roleName == nameRoleAdvisor
              "
            >
              <div class="col-md-3 col-sm-3 col-12">
                <h5 class="card-title">Kepada</h5>
              </div>
              <div class="col-md-1 col-sm-1 d-none d-sm-block">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-md-8 col-sm-8 col-12 mt-1">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="query"
                  placeholder="Cari nama member"
                />
                <div class="contain">
                  <div *ngFor="let list of listStaffTeam | filterName: query">
                    <input
                      type="checkbox"
                      name="staff"
                      value="{{ list.userId }}"
                      (change)="toggleChecked($event, list.userId)"
                      [(ngModel)]="list.selected"
                    />&nbsp;
                    <label style="font-size: 14px">{{
                      list.userFullname
                    }}</label>
                    <br />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 col-sm-3 col-12">
                <h5 class="card-title">Mulai Pengerjaan</h5>
              </div>
              <div class="col-md-1 col-sm-1 d-none d-sm-block">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-md-8 col-sm-8 col-12 mt-1">
                <div
                  id="datepicker-popup"
                  class="input-group date datepicker btn-block"
                >
                  <input
                    type="text"
                    class="form-control"
                    id="mandays"
                    placeholder="Tanggal mulai pengerjaan"
                  />
                  <span
                    class="input-group-addon input-group-append border-left"
                    style="text-align: center"
                  >
                    <span
                      class="mdi mdi-calendar input-group-text"
                      style="padding: 5px"
                    ></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-3 col-12">
                <h5 class="card-title">Keterangan</h5>
              </div>
              <div class="col-md-1 col-sm-1 d-none d-sm-block">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-md-8 col-sm-8 col-12 mt-1">
                <textarea
                  type="text"
                  class="form-control"
                  maxlength="255"
                  [(ngModel)]="taskDetail"
                  placeholder="remark"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Form Create Task -->
    <!-- Tab Task -->
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
        <div class="card" style="height: 95%">
          <div class="card-body">
            <div class="form-group">
              <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                  <a
                    class="nav-item nav-link active"
                    id="nav-home-tab"
                    data-toggle="tab"
                    href="#nav-home"
                    role="tab"
                    aria-controls="nav-home"
                    aria-selected="true"
                    (click)="allTask()"
                    >Semua Tugas</a
                  >
                  <a
                    class="nav-item nav-link"
                    id="nav-profile-tab"
                    data-toggle="tab"
                    href="#nav-profile"
                    role="tab"
                    aria-controls="nav-profile"
                    aria-selected="false"
                    (click)="inprogress()"
                    >Dalam Pengerjaan</a
                  >
                  <a
                    class="nav-item nav-link"
                    id="nav-contact-tab"
                    data-toggle="tab"
                    href="#nav-contact"
                    role="tab"
                    aria-controls="nav-contact"
                    aria-selected="false"
                    (click)="completed()"
                    >Selesai</a
                  >
                </div>
              </nav>
            </div>
          </div>
          <hr class="d-none d-sm-block" style="margin-top: -10px" />
          <div class="card-body" style="margin-top: -30px">
            <div class="row">
              <!-- <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card"> -->
              <div class="col-md-2 col-sm-2 col-8">
                <!-- <div class="form-group"> -->
                <label class="col col-form-label"></label>
                <h5 class="card-title" style="margin-top: 10px">Cari</h5>
                <!-- </div> -->
              </div>
              <div class="col-md-1 d-none d-md-block">
                <!-- <div class="form-group"> -->
                <label class="col col-form-label"></label>
                <h5 class="card-title" style="margin-top: 10px">:</h5>
                <!-- </div> -->
              </div>
              <!-- <div class="col-md-1">
                                    <label class="col col-form-label"></label>
                                    <h5 class="card-title">:</h5>
                                </div> -->
              <div class="col-md-4 col-sm-5 col-12">
                <div class="form-group text-left">
                  <label for="inputRangeDate" style="font-size: 12px"
                    >Tanggal Awal - Tanggal Akhir</label
                  >
                  <div
                    id="inputRangeDate"
                    class="input-group date datepicker btn-block"
                  >
                    <input
                      type="text"
                      class="form-control"
                      id="daterangeInput"
                      name="daterangeInput"
                      daterangepicker
                      [options]="options"
                      (selected)="selectedDate($event, daterange)"
                      (cancelDaterangepicker)="calendarCanceled($event)"
                      (applyDaterangepicker)="inquiryTaskFilter($event)"
                    />

                    <span
                      class="input-group-addon input-group-append border-left"
                      style="text-align: center"
                    >
                      <span
                        class="mdi mdi-calendar input-group-text"
                        style="padding: 5px"
                      ></span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-5 col-12">
                <div class="form-group" style="margin-bottom: 30px">
                  <label class="col col-form-label"></label>
                  <label class="col col-form-label"></label>
                  <label class="col col-form-label"></label>
                  <pagination-controls
                    class="my-pagination"
                    (pageChange)="p = $event"
                    align="right"
                  >
                  </pagination-controls>
                </div>
              </div>
              <!-- </div> -->
            </div>
            <!-- <pagination-controls class="my-pagination" (pageChange)="p = $event" align="right">
                        </pagination-controls> -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Tab Task -->
    <!-- Searching box-->
    <!-- <div class="row">
            <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
                <div class="card">
                    
                </div>
            </div>
        </div> -->

    <!-- daily task -->
    <ng-container *ngIf="loadingData == true">
      <div class="row" style="text-align: center">
        <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
          <div class="card" style="border-radius: 10px">
            <div class="card-body">
              <div class="dot-opacity-loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="row" *ngIf="allTaskForm == 'true'">
      <div
        class="
          col-12 col-sm-12 col-md-6 col-lg-6 col-eg-4
          grid-margin
          stretch-card
        "
        *ngFor="
          let task of listData | paginate: { itemsPerPage: 12, currentPage: p };
          let i = index
        "
      >
        <div class="card" style="border-radius: 10px">
          <div
            class="card-header"
            *ngIf="task.status == 'Y' && i != tksindex"
            style="background-color: burlywood; height: 100px"
          >
            <i class="mdi mdi-timer-sand" style="float: right"></i>
            <b>#{{ task.pid }}</b> &nbsp;&nbsp;&nbsp; {{ task.projectName }}
          </div>
          <div
            class="card-header"
            *ngIf="i == tksindex"
            style="background-color: white; height: 100px"
          >
            <div class="row">
              <div class="col-5 col-sm-4">
                <b style="font-size: 14px">#{{ task.pid }}</b>
              </div>
              <div class="col-7 col-sm-8" *ngIf="i == tksindex">
                <input
                  type="text"
                  class="inputfield form-control"
                  list="codes"
                  [(ngModel)]="codeValueupdate"
                  (change)="saveCodeupdate($event, task.projectId)"
                />
                <datalist id="codes">
                  <option *ngFor="let c of codeList" style="max-height: 200px">
                    {{ c.name }}-[{{ c.pid }}]
                  </option>
                </datalist>
              </div>
              <div class="col-sm-1" *ngIf="i != tksindex">
                <i class="mdi mdi-timer-sand" style="margin: auto"></i>
              </div>
            </div>
          </div>

          <div
            class="card-header"
            *ngIf="task.status == 'D' && i != tksindex"
            style="background-color: rgb(5, 238, 5); height: 100px"
          >
            <i
              class="mdi mdi-checkbox-marked-circle-outline"
              style="float: right"
            ></i>
            <b>#{{ task.pid }}</b> &nbsp;&nbsp;&nbsp; {{ task.projectName }}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">Rencana Jam kerja</h5>
              </div>
              <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-1">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">{{ task.workingHourPlan }} Jam</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">Jam Kerja Sebenarnya</h5>
              </div>
              <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-1">
                <h5 class="card-title">:</h5>
              </div>
              <div
                class="col-6 col-sm-5 col-md-5 col-lg-5"
                *ngIf="task.workingHourActual != null"
              >
                <h5 class="card-title">{{ task.workingHourActual }} Jam</h5>
              </div>
              <div
                class="col-6 col-sm-5 col-md-5 col-lg-5"
                *ngIf="task.workingHourActual == null"
              >
                <h5 class="card-title" style="color: red">Not Yet</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">Tanggal Mulai</h5>
              </div>
              <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-1">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">{{ task.startDate }}</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h5
                  class="card-title"
                  *ngIf="i != tksindex || task.status == 'D'"
                >
                  {{ task.taskDetail }}
                </h5>
                <textarea
                  class="form-control"
                  style="border-color: black"
                  type="text"
                  maxlength="255"
                  *ngIf="i == tksindex && task.status == 'Y'"
                  (change)="remark($event)"
                  id="myTextarea"
                  >{{ task.taskDetail }}</textarea
                >
              </div>
              <div class="col align-self-end" *ngIf="task.status == 'Y'">
                <i
                  class="mdi mdi-delete"
                  *ngIf="task.status == 'Y' && i != tksindex"
                  (click)="beforedeleteTask(task.id)"
                  data-toggle="modal"
                  data-target="#exampleModal-3"
                  style="
                    margin-bottom: -20px;
                    color: darkred;
                    cursor: pointer;
                    float: right;
                    font-size: 30px;
                  "
                ></i>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-12 col-sm-6">
                <i
                  *ngIf="i == tksindex"
                  class="mdi mdi-checkbox-marked-circle-outline"
                  style="
                    color: green;
                    cursor: pointer;
                    margin-right: 20px;
                    font-size: 30px;
                    margin-left: 30px;
                  "
                  (click)="submitUpdate(task.id, task.startDate)"
                ></i>
                <i
                  *ngIf="i == tksindex"
                  class="mdi mdi-minus-circle-outline"
                  style="color: darkred; cursor: pointer; font-size: 30px"
                  (click)="reverbUpdateData()"
                ></i>
                <button
                  class="btn btn-success"
                  *ngIf="i != tksindex"
                  (click)="
                    updateRemark(
                      i,
                      task.projectId,
                      task.projectName,
                      task.taskDetail
                    )
                  "
                  style="margin-bottom: 20px; width: 100%"
                >
                  perbaharui
                </button>
              </div>
              <div class="col-12 col-sm-6">
                <button
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#exampleModal-1"
                  *ngIf="i != tksindex"
                  (click)="
                    detailsAll(
                      task.id,
                      task.pid,
                      task.projectName,
                      task.workingHourPlan,
                      task.workingHourActual,
                      task.taskDetail,
                      task.status,
                      task.startDate
                    )
                  "
                  style="margin-bottom: 20px; width: 100%"
                >
                  lihat detail
                </button>
                <button
                  class="btn btn-primary"
                  [disabled]="true"
                  *ngIf="i == tksindex"
                  style="margin-bottom: 20px; width: 100%"
                >
                  lihat detail
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="progressForm == 'true'" style="margin-top: -40px">
      <div
        class="
          col-12 col-sm-12 col-md-6 col-lg-6 col-eg-4
          grid-margin
          stretch-card
        "
        *ngFor="
          let task of listProses
            | paginate: { itemsPerPage: 12, currentPage: p };
          let i = index
        "
      >
        <div class="card" style="border-radius: 10px">
          <!-- <div class="card-header" style="background-color: burlywood; height: 100px;">
                        <i class="mdi mdi-timer-sand" style="float: right;"></i>
                        <b>#{{task.pid}}</b> &nbsp;&nbsp;&nbsp; {{task.projectName}}
                    </div> -->
          <div
            class="card-header"
            *ngIf="task.status == 'Y' && i != tksindex"
            style="background-color: burlywood; height: 100px"
          >
            <i class="mdi mdi-timer-sand" style="float: right"></i>
            <b>#{{ task.pid }}</b> &nbsp;&nbsp;&nbsp; {{ task.projectName }}
          </div>
          <div
            class="card-header"
            *ngIf="i == tksindex"
            style="background-color: white; height: 100px"
          >
            <div class="row">
              <div class="col-5 col-sm-4">
                <b style="font-size: 14px">#{{ task.pid }}</b>
              </div>
              <div
                class="col-sm-8"
                style="margin-left: -20px"
                *ngIf="i == tksindex"
              >
                <input
                  type="text"
                  class="inputfield form-control"
                  list="codes"
                  [(ngModel)]="codeValueupdate"
                  (change)="saveCodeupdate($event, task.projectId)"
                />
                <datalist id="codes">
                  <option *ngFor="let c of codeList" style="max-height: 200px">
                    {{ c.name }}-[{{ c.pid }}]
                  </option>
                </datalist>
              </div>
              <div class="col-sm-1" *ngIf="i != tksindex">
                <i class="mdi mdi-timer-sand" style="margin: auto"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- <i class="mdi mdi-delete" *ngIf="task.status=='Y'" (click)="beforedeleteTask(task.id)"
                            data-toggle="modal" data-target="#exampleModal-3"
                            style="margin-bottom: -20px;color: darkred;cursor: pointer; float: right; font-size: 22px;"></i> -->
            <div class="row">
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">Rencana Jam kerja</h5>
              </div>
              <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-1">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">{{ task.workingHourPlan }} Jam</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">Jam Kerja Sebenarnya</h5>
              </div>
              <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-1">
                <h5 class="card-title">:</h5>
              </div>
              <div
                class="col-6 col-sm-5 col-md-5 col-lg-5"
                *ngIf="task.workingHourActual != null"
              >
                <h5 class="card-title">{{ task.workingHourActual }} Jam</h5>
              </div>
              <div
                class="col-6 col-sm-5 col-md-5 col-lg-5"
                *ngIf="task.workingHourActual == null"
              >
                <h5 class="card-title" style="color: red">Not Yet</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">Tanggal Mulai</h5>
              </div>
              <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-1">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">{{ task.startDate }}</h5>
              </div>
            </div>
            <!-- <div class="row">
                            <div class="col-sm-10">
                                <h5 class="card-title" *ngIf="i != tksindex">{{task.taskDetail}} </h5>
                                <textarea class="form-control" type="text" maxlength="255" *ngIf="i == tksindex"
                                    id="myTextarea">{{task.taskDetail}}</textarea>
                            </div>
                            <div class="col-sm-2" *ngIf="task.status=='Y'">
                                <i class="mdi mdi-account-edit" *ngIf="i != tksindex" style="cursor: pointer;"
                                    (click)="updateRemark(i)"></i>
                                <i *ngIf="i == tksindex" class="mdi mdi-checkbox-marked-circle-outline"
                                    style="color:green;cursor: pointer;margin-right:20px"
                                    (click)="submitUpdate(task.id, task.startDate)"></i>
                                <i *ngIf="i == tksindex" class="mdi mdi-minus-circle-outline"
                                    style="color:darkred;cursor: pointer" (click)="reverbUpdateData()"></i>
                            </div>
                        </div> -->
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h5
                  class="card-title"
                  *ngIf="i != tksindex || task.status == 'D'"
                >
                  {{ task.taskDetail }}
                </h5>
                <textarea
                  class="form-control"
                  style="border-color: black"
                  type="text"
                  maxlength="255"
                  *ngIf="i == tksindex && task.status == 'Y'"
                  (change)="remark($event)"
                  id="myTextarea"
                  >{{ task.taskDetail }}</textarea
                >
              </div>
              <div class="col align-self-end" *ngIf="task.status == 'Y'">
                <i
                  class="mdi mdi-delete"
                  *ngIf="task.status == 'Y' && i != tksindex"
                  (click)="beforedeleteTask(task.id)"
                  data-toggle="modal"
                  data-target="#exampleModal-3"
                  style="
                    margin-bottom: -20px;
                    color: darkred;
                    cursor: pointer;
                    float: right;
                    font-size: 30px;
                  "
                ></i>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-12 col-sm-6">
                <i
                  *ngIf="i == tksindex"
                  class="mdi mdi-checkbox-marked-circle-outline"
                  style="
                    color: green;
                    cursor: pointer;
                    margin-right: 20px;
                    font-size: 30px;
                    margin-left: 30px;
                  "
                  (click)="submitUpdate(task.id, task.startDate)"
                ></i>
                <i
                  *ngIf="i == tksindex"
                  class="mdi mdi-minus-circle-outline"
                  style="color: darkred; cursor: pointer; font-size: 30px"
                  (click)="reverbUpdateData()"
                ></i>
                <button
                  class="btn btn-success"
                  *ngIf="i != tksindex"
                  (click)="
                    updateRemark(
                      i,
                      task.projectId,
                      task.projectName,
                      task.taskDetail
                    )
                  "
                  style="margin-bottom: 20px; width: 100%"
                >
                  perbaharui
                </button>
              </div>
              <div class="col-12 col-sm-6">
                <button
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#exampleModal-1"
                  *ngIf="i != tksindex"
                  (click)="
                    detailsAll(
                      task.id,
                      task.pid,
                      task.projectName,
                      task.workingHourPlan,
                      task.workingHourActual,
                      task.taskDetail,
                      task.status,
                      task.startDate
                    )
                  "
                  style="margin-bottom: 20px; width: 100%"
                >
                  lihat detail
                </button>
                <button
                  class="btn btn-primary"
                  [disabled]="true"
                  *ngIf="i == tksindex"
                  style="margin-bottom: 20px; width: 100%"
                >
                  lihat detail
                </button>
              </div>
            </div>
          </div>
          <!-- <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-5">

                            </div>
                            <div class="col-sm-7">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-1"
                                    (click)="detailsAll(task.id,task.pid, task.projectName, task.workingHourPlan,task.workingHourActual, task.taskDetail, task.status, task.startDate )"
                                    style="float: right; margin-bottom: 20px;">lihat detail</button>
                            </div>
                        </div>
                    </div> -->
        </div>
      </div>
    </div>
    <div class="row" *ngIf="doneForm == 'true'" style="margin-top: -40px">
      <div
        class="
          col-12 col-sm-12 col-md-6 col-lg-6 col-eg-4
          grid-margin
          stretch-card
        "
        *ngFor="
          let task of listDone | paginate: { itemsPerPage: 10, currentPage: p };
          let i = index
        "
      >
        <div class="card" style="border-radius: 10px">
          <!-- <div class="card-header" style="background-color: rgb(5, 238, 5); height: 100px;">
                        <i class="mdi mdi-checkbox-marked-circle-outline" style="float: right;"></i>
                        <b>#{{task.pid}}</b> &nbsp;&nbsp;&nbsp; {{task.projectName}}

                    </div> -->
          <div
            class="card-header"
            *ngIf="task.status == 'D' && i != tksindex"
            style="background-color: rgb(5, 238, 5); height: 100px"
          >
            <i
              class="mdi mdi-checkbox-marked-circle-outline"
              style="float: right"
            ></i>
            <b>#{{ task.pid }}</b> &nbsp;&nbsp;&nbsp; {{ task.projectName }}
          </div>
          <div
            class="card-header"
            *ngIf="i == tksindex"
            style="background-color: white; height: 100px"
          >
            <div class="row">
              <div class="col-5 col-sm-4">
                <b style="font-size: 14px">#{{ task.pid }}</b>
              </div>
              <div
                class="col-7 col-sm-8"
                style="margin-left: -20px"
                *ngIf="i == tksindex"
              >
                <input
                  type="text"
                  class="inputfield form-control"
                  list="codes"
                  [(ngModel)]="codeValueupdate"
                  (change)="saveCodeupdate($event, task.projectId)"
                />
                <datalist id="codes">
                  <option *ngFor="let c of codeList" style="max-height: 200px">
                    {{ c.name }}-[{{ c.pid }}]
                  </option>
                </datalist>
              </div>
              <div class="col-sm-1" *ngIf="i != tksindex">
                <i class="mdi mdi-timer-sand" style="margin: auto"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">Rencana Jam kerja</h5>
              </div>
              <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-1">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">{{ task.workingHourPlan }} Jam</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">Jam Kerja Sebenarnya</h5>
              </div>
              <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-1">
                <h5 class="card-title">:</h5>
              </div>
              <div
                class="col-6 col-sm-5 col-md-5 col-lg-5"
                *ngIf="task.workingHourActual != null"
              >
                <h5 class="card-title">{{ task.workingHourActual }} Jam</h5>
              </div>
              <div
                class="col-6 col-sm-5 col-md-5 col-lg-5"
                *ngIf="task.workingHourActual == null"
              >
                <h5 class="card-title" style="color: red">Not Yet</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">Tanggal Mulai</h5>
              </div>
              <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-1">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">{{ task.startDate }}</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h5 class="card-title">{{ task.taskDetail }}</h5>
              </div>
            </div>
            <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-1"
                            (click)="detailsAll(task.id,task.pid, task.projectName, task.workingHourPlan,task.workingHourActual, task.taskDetail, task.status, task.startDate )"
                            style="float: right;">lihat detail</button> -->
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-12 col-sm-6">
                <i
                  *ngIf="i == tksindex"
                  class="mdi mdi-checkbox-marked-circle-outline"
                  style="
                    color: green;
                    cursor: pointer;
                    margin-right: 20px;
                    font-size: 30px;
                    margin-left: 30px;
                  "
                  (click)="submitUpdate(task.id, task.startDate)"
                ></i>
                <i
                  *ngIf="i == tksindex"
                  class="mdi mdi-minus-circle-outline"
                  style="color: darkred; cursor: pointer; font-size: 30px"
                  (click)="reverbUpdateData()"
                ></i>
                <button
                  class="btn btn-success"
                  *ngIf="i != tksindex"
                  (click)="
                    updateRemark(
                      i,
                      task.projectId,
                      task.projectName,
                      task.taskDetail
                    )
                  "
                  style="margin-bottom: 20px; width: 100%"
                >
                  perbaharui
                </button>
              </div>
              <div class="col-12 col-sm-6">
                <button
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#exampleModal-1"
                  *ngIf="i != tksindex"
                  (click)="
                    detailsAll(
                      task.id,
                      task.pid,
                      task.projectName,
                      task.workingHourPlan,
                      task.workingHourActual,
                      task.taskDetail,
                      task.status,
                      task.startDate
                    )
                  "
                  style="margin-bottom: 20px; width: 100%"
                >
                  lihat detail
                </button>
                <button
                  class="btn btn-primary"
                  [disabled]="true"
                  *ngIf="i == tksindex"
                  style="margin-bottom: 20px; width: 100%"
                >
                  lihat detail
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<div
  class="modal fade"
  id="exampleModal-1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="card">
        <form [formGroup]="markasdoneForm">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-3">Detail Tugas</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">PID</h5>
              </div>
              <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-1">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">#{{ detailpid }}</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">Rencana Jam Kerja</h5>
              </div>
              <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-1">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">{{ detailworkingHourPlan }} Jam</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">Jam Kerja Sebenarnya</h5>
              </div>
              <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-1">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-6 col-sm-5 col-md-5 col-lg-5">
                <!-- oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" -->
                <input
                  type="number"
                  maxlength="4"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  *ngIf="detailstatus == 'Y' && markasdn == 'sama'"
                  formControlName="actualHour"
                  class="form-control form-control-sm"
                />
                <h5 class="card-title" *ngIf="detailstatus == 'D'">
                  {{ detailworkingHourActual }} Jam
                </h5>
                <h5
                  class="card-title"
                  *ngIf="markasdn == 'beda' && detailstatus != 'D'"
                  style="color: red"
                >
                  Not Yet
                </h5>
              </div>
            </div>
            <div class="row">
              <div class="d-none d-sm-block col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title">Keterangan</h5>
              </div>
              <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-1">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-12 col-sm-5 col-md-5 col-lg-5">
                <h5 class="card-title" *ngIf="updateCounter == 0">
                  {{ detailtaskDetail }}
                </h5>
                <!-- <span style="font-size:9px;color:#ed4a4a;" *ngIf="updateForm.controls.assetTypeUpdate.invalid && updateForm.controls.assetTypeUpdate.touched && listRate.id==code">Asset type cannot be empty</span> -->
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">
              Batal
            </button>
            <button
              type="button"
              class="btn btn-danger"
              *ngIf="detailstatus != 'D'"
              data-dismiss="modal"
              (click)="markAsDone()"
              [disabled]="markasdoneForm.invalid"
            >
              Selesai
            </button>
            <!-- <button type="button" class="btn btn-danger" *ngIf="detailstatus =='D'" data-dismiss="modal" [disabled]="true">Mark as Done</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="perbaharui"
  tabindex="-1"
  role="dialog"
  aria-labelledby="perbaharui"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="card">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel-3">Perbaharui Tugas</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4">
              <h5 class="card-title">PID</h5>
            </div>
            <div class="col-sm-1">
              <h5 class="card-title">:</h5>
            </div>
            <div class="col-sm-6">
              <h5 class="card-title">#{{ detailpid }}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <h5 class="card-title">Keterangan</h5>
            </div>
            <div class="col-sm-1">
              <h5 class="card-title">:</h5>
            </div>
            <div class="col-sm-6">
              <h5 class="card-title">{{ detailtaskDetail }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button
  id="openModalButton"
  [hidden]="true"
  data-toggle="modal"
  data-target="#myModal"
>
  Open Modal
</button>
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel-2"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-md" role="document">
    <form [formGroup]="workingstatus">
      <div class="modal-content">
        <div class="card">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-3">Status Harian</h5>
            <button
              type="button"
              class="close"
              (click)="closesehat()"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="statusWork">
            <div class="row rowMargin">
              <div class="col-sm-3 col-12 col-md-3">
                <h5 class="card-title">Status WFH</h5>
              </div>
              <div class="col-sm-1 col-md-1 d-none d-sm-block">
                <h5 class="card-title">:</h5>
              </div>
              <div
                class="col-sm-2 col-4 col-md-2"
                *ngFor="let listwork of listWorkingStatusConfig; let i = index"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  (change)="ifwfh()"
                  name="wfoRadio"
                  id="wfh{{ i }}"
                  [value]="listwork.configValue"
                  formControlName="wfoRadio"
                />
                <label class="form-check-label" for="exampleRadiosWFH">
                  {{ listwork.configValue }}
                </label>
              </div>
            </div>
            <div class="row rowMargin">
              <div class="col-sm-3 col-12 col-md-3">
                <h5 class="card-title">Status Kesehatan</h5>
              </div>
              <div class="col-sm-1 col-md-1 d-none d-sm-block">
                <h5 class="card-title">:</h5>
              </div>
              <div
                class="col-sm-2 col-md-2 col-5"
                *ngFor="
                  let listsehat of listWorkingKesehatanConfig;
                  let i = index
                "
              >
                <!-- <div class="form-check"> -->
                <input
                  class="form-check-input"
                  type="radio"
                  (change)="ifsehat()"
                  name="sehatRadio"
                  id="sehat{{ i }}"
                  [value]="listsehat"
                  formControlName="sehatRadio"
                />
                <label class="form-check-label" for="exampleRadiossehat">
                  {{ listsehat }}
                </label>
                <!-- </div> -->
              </div>
            </div>

            <div class="row rowMargin" *ngIf="statusonsite == 'true'">
              <div class="col-sm-3 col-3">
                <h5 class="card-title">On Site</h5>
              </div>
              <div class="col-sm-1 d-none d-sm-block">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-sm-7 col-9">
                <input
                  class="form-control"
                  style="margin-left: -20px; height: 90%"
                  type="text"
                  name="reasonst"
                  id="onsite"
                  formControlName="reasonst"
                  maxlength="30"
                />
              </div>
            </div>
            <div class="row rowMargin" *ngIf="statusLeave == 'true'">
              <div class="col-sm-3 col-3">
                <h5 class="card-title">Cuti</h5>
              </div>
              <div class="col-sm-1 d-none d-sm-block">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-sm-7 col-9">
                <input
                  class="form-control"
                  style="margin-left: -20px; height: 90%"
                  type="text"
                  name="reaLeave"
                  id="leave"
                  formControlName="reaLeave"
                  maxlength="30"
                />
              </div>
            </div>
            <div class="row rowMargin" *ngIf="statusidsakit == 'true'">
              <div class="col-sm-3 col-3">
                <h5 class="card-title">Alasan Sakit</h5>
              </div>
              <div class="col-sm-1 d-none d-sm-block">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-sm-7 col-9">
                <input
                  class="form-control"
                  style="margin-left: -20px; height: 90%"
                  type="text"
                  name="sakitFiled"
                  id="sakit"
                  formControlName="reasonSick"
                  maxlength="20"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-light"
              (click)="closesehat()"
              data-dismiss="modal"
            >
              Batal
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              (click)="submitStatusSehat()"
            >
              Selesai
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal-3"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel-3"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Hapus Task</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah kamu yakin hapus tugas ?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteTask(deleteid)"
          data-dismiss="modal"
        >
          Hapus
        </button>
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Batal
        </button>
      </div>
    </div>
  </div>
</div>

<button
  id="openModalButtoncorona"
  [hidden]="true"
  data-toggle="modal"
  data-target="#exampleModalcorona"
>
  Open Modal
</button>
<div
  class="modal fade"
  id="exampleModalcorona"
  tabindex="-1"
  data-backdrop="static"
  data-keyboard="false"
  role="dialog"
  aria-labelledby="exampleModalcorona"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md" style="padding: 20px" role="document">
    <div class="modal-content">
      <div class="card">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel-3">Perlu Menjadi Perhatian</h5> -->
          <img
            class="img-xs"
            src="assets\faces\000.png"
            style="width: 100%; height: 100%"
            alt="Profile image"
          />
          <button
            type="button"
            class="btn btn-warning"
            (click)="closemodal()"
            style="margin-top: -50px; margin-left: -10px"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true" style="color: black">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button Create -->
<div style="position: fixed; bottom: 0; right: 0; height: 100px; width: 100px">
  <button
    *ngIf="loadingBar == 'true'"
    class="btn btn-success btn-circle btn-xl"
  >
    <div
      class="loader"
      style="margin: auto; margin-top: -5px; cursor: none"
    ></div>
  </button>
  <button
    type="button"
    *ngIf="loadingBar == 'false'"
    class="btn btn-success btn-circle btn-xl"
    (click)="onSubmit()"
  >
    Buat
  </button>
</div>
