.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

.contain {
  border: 1px solid rgb(232, 231, 231);
  padding: 10px;
  border-radius: 2px;
  width: 100%;
  height: 100px;
  overflow-y: scroll;
  margin-top: 1%;
}

.calendar {
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
  font-size: 0.9em;
  background-color: #c4c0c0;
  color: #333;
  border: 1px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0.2em;
  width: 14em;
  border: 1px solid #595858;
}

.calendar .months {
  background-color: #918f8f;
  border: 1px solid #595858;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  padding: 0.2em;
  text-align: center;
}

.calendar .prev-month,
.calendar .next-month {
  padding: 0;
}

.calendar .prev-month {
  float: left;
}

.calendar .next-month {
  float: right;
}

.calendar .current-month {
  margin: 0 auto;
}

.calendar .months .prev-month,
.calendar .months .next-month {
  color: #fff;
  text-decoration: none;
  padding: 0 0.4em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.calendar .months .prev-month:hover,
.calendar .months .next-month:hover {
  background-color: #fdf5ce;
  color: #c77405;
}

.calendar table {
  border-collapse: collapse;
  padding: 0;
  font-size: 0.8em;
  width: 100%;
}

.calendar th {
  text-align: center;
}

.calendar td {
  text-align: center;
  padding: 1px;
  width: 14.3%;
}

.calendar td span {
  display: block;
  color: #000;
  background-color: #dfdddd;
  border: 1px solid #ccc;
  text-decoration: none;
  padding: 0.2em;
  cursor: pointer;
}

.calendar td span:hover {
  color: #c77405;
  background-color: #fdf5ce;
  border: 1px solid #fbcb09;
}

.calendar td.today span {
  background-color: #fff0a5;
  border: 1px solid #fed22f;
  color: #363636;
}

p.pfield-wrapper input {
  float: right;
}

p.pfield-wrapper::after {
  content: "\00a0\00a0 ";
  /* keeps spacing consistent */
  float: right;
}

p.required-field::after {
  content: "*";
  float: right;
  margin-left: -3%;
  color: red;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
}

.inputfield {
  border-color: black;
  width: 100%;
  margin-top: -10px;
}

.scrollable {
  overflow-y: auto !important;
  /* Use !important only if there is already an overflow style rule for this element and you want to override */
}

datalist {
  max-height: 500px;
  overflow-y: auto;
}

@media only screen and (max-width: 575px) {
  .rowMargin {
    margin-bottom: 5px;
  }
}
