<div class="row">
  <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
    <div class="card">
      <form [formGroup]="createProject">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <div class="group">
                <h4 class="mb-0">Buat Proyek</h4>

                <!-- <p class="text-gray">{{today}}</p> -->
              </div>
            </div>
            <div class="col-sm-6"></div>

            <div class="col-sm-3">
              <div class="the-basics">
                <button
                  *ngIf="loadingBar == 'false'"
                  class="btn btn-icons btn-inverse-warning"
                  style="float: right; min-width: 100%"
                  data-toggle="modal"
                  data-target="#modalUpload"
                >
                  <i class="mdi mdi-upload"></i> Unggah
                </button>
                <button
                  *ngIf="loadingBar == 'true'"
                  class="btn btn-icons btn-light"
                  style="float: right; min-width: 100%"
                >
                  <div
                    class="loader"
                    style="margin: auto; margin-top: -5px"
                  ></div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="card-body" style="margin-top: -30px">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-12">
              <h5 class="card-title">Proyek ID</h5>
            </div>
            <div class="col-md-1 col-sm-1 d-none d-sm-block">
              <h5 class="card-title">:</h5>
            </div>
            <div class="col-md-8 col-sm-8 col-12">
              <input
                type="text"
                class="form-control"
                formControlName="pid"
                oninput="this.value = this.value.replace(/[^A-Za-z0-9-,.;'&/.()]/g,'').replace(/(\ *)/g, '$1')"
                style="height: 70%; margin-top: -10px"
                placeholder="Project ID"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-12">
              <h5 class="card-title">Nama Proyek</h5>
            </div>
            <div class="col-md-1 col-sm-1 d-none d-sm-block">
              <h5 class="card-title">:</h5>
            </div>
            <div class="col-md-8 col-sm-8 col-12">
              <input
                type="text"
                class="form-control"
                formControlName="projectName"
                style="height: 70%; margin-top: -10px"
                placeholder="Nama Proyek"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-12">
              <h5 class="card-title">Pelanggan</h5>
            </div>
            <div class="col-md-1 col-sm-1 d-none d-sm-block">
              <h5 class="card-title">:</h5>
            </div>
            <div class="col-md-8 col-sm-8 col-12">
              <input
                type="text"
                class="form-control"
                formControlName="customer"
                style="height: 70%; margin-top: -10px"
                placeholder="Pelanggan"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-12">
              <h5 class="card-title">Kategori</h5>
            </div>
            <div class="col-md-1 col-sm-1 d-none d-sm-block">
              <h5 class="card-title">:</h5>
            </div>
            <div class="col-md-8 col-sm-8 col-12">
              <input
                type="text"
                class="form-control"
                formControlName="category"
                style="height: 70%; margin-top: -10px"
                placeholder="Kategori Proyek"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-12">
              <h5 class="card-title">Mandays</h5>
            </div>
            <div class="col-md-1 col-sm-1 d-none d-sm-block">
              <h5 class="card-title">:</h5>
            </div>
            <div class="col-md-8 col-sm-8 col-12">
              <input
                type="text"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                class="form-control"
                formControlName="mandays"
                style="height: 70%; margin-top: -10px"
                placeholder="Mandays"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-12">
              <h5 class="card-title">Status Bill</h5>
            </div>
            <div class="col-md-1 col-sm-1 d-none d-sm-block">
              <h5 class="card-title">:</h5>
            </div>
            <div class="col-md-8 col-sm-8 col-12">
              <div class="form-group">
                <select
                  class="form-control"
                  id="exampleFormControlselect"
                  formControlName="billable"
                  style="width: 100%; height: 100%"
                >
                  <option *ngFor="let list of statusBill" [value]="list">
                    {{ list }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
              <button
                class="btn btn-primary"
                (click)="createNewProject()"
                style="width: 100%"
                [disabled]="createProject.invalid"
              >
                Buat
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="form-group row">
            <div class="col">
              <label class="col col-form-label"></label>
              <label class="col col-form-label">Search by </label><br />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <label for="exampleInputEmail1">Proyek ID</label>
              <input
                type="text"
                class="form-control"
                id="Pidfiltering"
                [(ngModel)]="Pidfiltering"
                name="Pidfiltering"
                placeholder="PID"
              />
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <label for="exampleInputEmail1">Nama Proyek</label>
              <input
                type="text"
                class="form-control"
                id="ProyekNamefiltering"
                [(ngModel)]="ProyekNamefiltering"
                name="ProyekNamefiltering"
                placeholder="Nama Proyek"
              />
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="loadingData == true">
        <div class="card-body text-center">
          <div class="dot-opacity-loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="loadingData == false">
        <form [formGroup]="updateForm">
          <div class="wrapper search-table-outter">
            <table>
              <thead style="text-align: center">
                <tr>
                  <th scope="col" style="width: 13%">PID</th>
                  <th scope="col">Nama Proyek</th>
                  <th scope="col" style="width: 13%">Pelanggan</th>
                  <th scope="col" style="width: 12%">Kategori</th>
                  <th scope="col" style="width: 15%">Bill</th>
                  <th scope="col" style="width: 10%">ManDays</th>
                  <th scope="col" style="width: 10%">Status Proyek</th>
                  <th scope="col" style="width: 9%">Aksi</th>
                </tr>
              </thead>
              <tbody style="text-align: center">
                <tr
                  *ngFor="
                    let listPrj of listProject
                      | filterpipe: Pidfiltering:ProyekNamefiltering
                      | paginate: { itemsPerPage: 5, currentPage: p };
                    let i = index
                  "
                >
                  <td scope="row" *ngIf="listPrj.id != tksindex">
                    {{ listPrj.pid }}
                  </td>
                  <td *ngIf="listPrj.id == tksindex">
                    <div class="ui fluid input">
                      <input
                        style="min-width: 80px"
                        type="text"
                        class="typeahead"
                        formControlName="pidedit"
                        id="pidedit"
                        name="pidedit"
                      />
                    </div>
                  </td>
                  <td scope="row" *ngIf="listPrj.id != tksindex">
                    {{ listPrj.projectName }}
                  </td>
                  <td *ngIf="listPrj.id == tksindex">
                    <div class="ui fluid input">
                      <input
                        style="min-width: 80px"
                        type="text"
                        class="typeahead"
                        formControlName="nameedit"
                        id="nameedit"
                        name="nameedit"
                      />
                    </div>
                  </td>
                  <td scope="row" *ngIf="listPrj.id != tksindex">
                    {{ listPrj.costumer }}
                  </td>
                  <td *ngIf="listPrj.id == tksindex">
                    <div class="ui fluid input">
                      <input
                        style="min-width: 80px"
                        type="text"
                        class="typeahead"
                        formControlName="customeredit"
                        id="customeredit"
                        name="customeredit"
                      />
                    </div>
                  </td>
                  <td scope="row">{{ listPrj.category }}</td>
                  <td scope="row">{{ listPrj.bill }}</td>
                  <td scope="row">{{ listPrj.mandays }}</td>
                  <td scope="row">{{ listPrj.statusProject }}</td>

                  <td scope="row">
                    <i
                      class="mdi mdi-account-edit"
                      (click)="
                        updateProject(
                          listPrj.id,
                          listPrj.pid,
                          listPrj.projectName,
                          listPrj.costumer
                        )
                      "
                      *ngIf="
                        listPrj.id != tksindex && listPrj.statusProject == 'Y'
                      "
                      style="
                        margin-bottom: -15px;
                        margin-right: 5px;
                        cursor: pointer;
                        font-size: 20px;
                      "
                    ></i>
                    <i
                      class="mdi mdi-power"
                      *ngIf="
                        listPrj.statusProject == 'Y' && listPrj.id != tksindex
                      "
                      style="
                        margin-bottom: -15px;
                        margin-right: 5px;
                        cursor: pointer;
                        color: green;
                        font-size: 20px;
                      "
                      (click)="
                        activationProject(listPrj.statusProject, listPrj.id)
                      "
                    ></i>
                    <i
                      class="mdi mdi-power"
                      *ngIf="
                        listPrj.statusProject == 'N' && listPrj.id != tksindex
                      "
                      style="
                        margin-bottom: -15px;
                        margin-right: 5px;
                        cursor: pointer;
                        color: red;
                        font-size: 20px;
                      "
                      (click)="
                        activationProject(listPrj.statusProject, listPrj.id)
                      "
                    ></i>

                    <i
                      *ngIf="listPrj.id == tksindex"
                      class="mdi mdi-checkbox-marked-circle-outline"
                      style="color: green; cursor: pointer; margin-right: 20px"
                      (click)="
                        updateDataEdit(
                          listPrj.category,
                          listPrj.bill,
                          listPrj.mandays
                        )
                      "
                    ></i>
                    <i
                      *ngIf="listPrj.id == tksindex"
                      class="mdi mdi-minus-circle-outline"
                      style="color: darkred; cursor: pointer; size: 10px"
                      (click)="reverbEditData()"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <pagination-controls class="my-pagination" style="font-family: Arial" ( )="p = $event" align="right">
            </pagination-controls> -->
          <pagination-controls
            class="my-pagination"
            (pageChange)="p = $event"
            align="right"
          >
          </pagination-controls>
        </form>
      </ng-container>
    </div>
  </div>
</div>

<!-- Modals Upload -->
<div
  class="modal fade"
  id="modalUpload"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel-7"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-5">Unggah Data</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Harap unduh format excel terbaru berikut sebelum mengunggah<br />
          <!-- You can download it<a (click)="downloadCsv()" style="cursor: pointer; color: rgb(65, 170, 214); text-decoration: underline"> here</a> -->
          <a target="_blank" href="{{ baseURL }}assets/ListPid.xlsx">
            Klik disini untuk unduh excel
          </a>
        </p>

        <form [formGroup]="uploadFileForm">
          <label style="font-size: 14px">File Unggah</label>
          <input
            style="padding-top: 8px"
            type="file"
            accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            class="form-control"
            formControlName="UploadFile"
            id="uploadFile"
            (change)="onchangeUpload($event)"
            name="uploadFile"
            placeholder="uploadFile"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-success"
          data-dismiss="modal"
          (click)="uploadFileToActivity()"
        >
          Submit
        </button>
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Batal
        </button>
      </div>
    </div>
  </div>
</div>
