<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="font-size: 20px">Update Role</h4><br>
                        <form class="form-sample">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="ui segments" style=" border-radius: 0px;">
                                        <div class="ui segment">
                                            <form class="ui mini form" [formGroup]="editDetailRoleForm">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Role name</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control"
                                                            formControlName="roleCode" [(ngModel)]="roleDetail.roleCode" hidden>
                                                        <input type="text" class="form-control"
                                                            formControlName="roleName" [(ngModel)]="roleDetail.roleName"
                                                            id="roleName" name="roleName"
                                                            placeholder="Enter new role name"
                                                            style="border-radius: 0px; width: 80%; float: right"> </div>
                                                    <p style="color: #ed4a4a; font-size: 12px"
                                                        *ngIf="editDetailRoleForm.controls.roleName.invalid &&  editDetailRoleForm.controls.roleName.touched">
                                                        Role name required</p>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">



                        <table class="table table-striped">
                            <thead style="text-align: center">
                                <tr>
                                    <th>Task Id</th>
                                    <th>Task Name</th>
                                    <th>Read</th>
                                    <th>Write</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead><br>
                            <tbody style="text-align: center">

                                <tr style="min-height: 20px;" *ngFor="let task of taskList; let i = index">
                                    <td>{{task.taskCrudId}}</td>
                                    <td>{{task.taskCrudName}}</td>
                                    <td>
                                        <div class="ui fitted checkbox" style="margin-top: 5px;"
                                            *ngIf="task.readTaskId != -99 ">
                                            <input type="checkbox" [(ngModel)]="listOfActionRead[i]">
                                            <label></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ui checkbox" style="margin-top: 5px;"
                                            *ngIf="task.createTaskId != -99 ">
                                            <input type="checkbox" [(ngModel)]="listOfActionCreate[i]">
                                            <label></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ui checkbox" style="margin-top: 5px;"
                                            *ngIf="task.updateTaskId != -99 ">
                                            <input type="checkbox" [(ngModel)]="listOfActionUpdate[i]">
                                            <label></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="ui checkbox" style="margin-top: 5px;"
                                            *ngIf="task.deleteTaskId != -99 ">
                                            <input type="checkbox" [(ngModel)]="listOfActionDelete[i]">
                                            <label></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <br />
                        <div style="text-align: center">
                            <button type="button" class="btn btn-icons btn-inverse-primary"
                                style="float: center; min-width: 150px;" [disabled]="editDetailRoleForm.invalid"
                                data-toggle="modal" data-target="#exampleModal-3">
                                Update Role
                            </button>
                            <br><br>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modals Update -->
<div class="modal fade" id="exampleModal-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-3"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel-3">Update Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to update role?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="updateRoleDetail()"
                    data-dismiss="modal">Update</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>