<div class="row">
  <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="group">
          <h2 class="mb-0">Dashboard Manager</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-12 grid-margin stretch-card"
        style="margin-top: -10px"
      >
        <div class="card">
          <div class="card-body">
            <h4>Grafik Summary Perencanaan dan Aktualisasi Proyek Team</h4>
            <br />

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label
                    for="inputRangeDateSumPlanActual"
                    style="font-size: 12px"
                    >Tanggal Awal - Tanggal Akhir</label
                  >
                  <div
                    id="inputRangeDateSumPlanActual"
                    class="input-group date datepicker btn-block"
                    style="min-width: 100%"
                  >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="daterangeInput"
                      name="daterangeInputPlanActual"
                      daterangepicker
                      [options]="options"
                      (selected)="
                        selectedDateSumPlanActual(
                          $event,
                          dateRangeSumPlanActual
                        )
                      "
                      (cancelDaterangepicker)="
                        calendarCanceledSumPlanActual($event)
                      "
                      (applyDaterangepicker)="resetChartSumPlanActual($event)"
                    />

                    <span
                      class="input-group-addon input-group-append border-left"
                      style="text-align: center"
                    >
                      <span
                        class="mdi mdi-calendar input-group-text"
                        style="padding: 5px"
                      ></span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="optWeek" style="font-size: 12px">Team</label>
                  <div class="input-group btn-block">
                    <select
                      class="form-control form-control-sm"
                      id="optWeek"
                      [(ngModel)]="filterTeamSumPlan"
                    >
                      <option
                        *ngFor="let team of listTeam1"
                        [value]="team.idTeam"
                      >
                        {{ team.teamCode }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <br />
                <button
                  *ngIf="loadingButtonSumPlanActual == false"
                  type="button"
                  class="btn btn-inverse-primary btn-sm"
                  style="min-width: 100px"
                  (click)="inquiryChartSumPlanActual($event)"
                  type="submit"
                >
                  Cari
                </button>
                <button
                  *ngIf="loadingButtonSumPlanActual == true"
                  type="button"
                  class="btn btn-light btn-sm"
                  style="min-width: 100px"
                >
                  <div class="loader" style="margin: auto"></div>
                </button>
              </div>
            </div>

            <br />
            <div class="search-table-outter" style="display: block">
              <canvas
                baseChart
                [datasets]="barChartData"
                [colors]="barChartColors"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin" style="margin-top: -10px">
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-12 grid-margin stretch-card"
        style="margin-top: -10px"
      >
        <div class="card">
          <div class="card-body">
            <h4>Summary Task Member</h4>
            <br />

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="inputRangeDate" style="font-size: 12px"
                    >Tanggal Awal - Tanggal Akhir</label
                  >
                  <div
                    id="inputRangeDate"
                    class="input-group date datepicker btn-block"
                    style="min-width: 100%"
                  >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="daterangeInput"
                      name="daterangeInput"
                      daterangepicker
                      [options]="options"
                      (selected)="
                        selectedDateSumTaskMember(
                          $event,
                          dateRangeSumTaskMember
                        )
                      "
                      (cancelDaterangepicker)="
                        calendarCanceledSumTaskMember($event)
                      "
                      (applyDaterangepicker)="resetSumTaskMember($event)"
                    />

                    <span
                      class="input-group-addon input-group-append border-left"
                      style="text-align: center"
                    >
                      <span
                        class="mdi mdi-calendar input-group-text"
                        style="padding: 5px"
                      ></span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="optWeek" style="font-size: 12px">Team</label>
                  <div class="input-group btn-block" style="min-width: 100%">
                    <select
                      class="form-control form-control-sm"
                      id="optWeek"
                      [(ngModel)]="filterTeamSumTaskMember"
                    >
                      <option
                        *ngFor="let team of listTeam2"
                        [value]="team.idTeam"
                      >
                        {{ team.teamCode }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <br />
                <button
                  *ngIf="loadingButtonSumTaskMember == false"
                  type="button"
                  class="btn btn-inverse-primary btn-sm"
                  style="min-width: 100px"
                  (click)="inquirySumTaskMember($event)"
                  type="submit"
                >
                  Cari
                </button>
                <button
                  *ngIf="loadingButtonSumTaskMember == true"
                  type="button"
                  class="btn btn-light btn-sm"
                  style="min-width: 100px"
                >
                  <div class="loader" style="margin: auto"></div>
                </button>
              </div>
              <!-- <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="optWeek" style="font-size: 12px;" >Nama</label>
                                        <div class="input-group btn-block" style="min-width:100%">
                                            <input type="text" class="form-control" id="filterNameSumTaskMember"
                                                name="filterSumTaskMember" [(ngModel)]="filterNameSumTaskMember">
                                        </div>
                                    </div>
                                </div> -->
            </div>

            <ng-container *ngIf="loadingSummaryTask == true">
              <div class="row" style="text-align: center">
                <div
                  class="col-12 col-sm-12 col-md-12 grid-margin stretch-card"
                >
                  <div class="dot-opacity-loader">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="loadingSummaryTask == false">
              <div class="search-table-outter wrapper">
                <table style="text-align: center; font-size: small">
                  <thead>
                    <tr>
                      <th style="width: 40%; text-align: left">Nama Member</th>
                      <th
                        style="width: 20%; text-align: center"
                        *ngFor="let column of listHeaderSumTaskMember"
                      >
                        {{ column }}
                      </th>
                    </tr>
                  </thead>

                  <tbody *ngIf="listDataSumTaskMember.length == 0">
                    <tr class="text-center">
                      <td colspan="15"><b>Data tidak ditemukan !</b></td>
                    </tr>
                  </tbody>

                  <tbody>
                    <tr
                      *ngFor="
                        let row of listDataSumTaskMember
                          | filtersumtaskmember: filterNameSumTaskMember
                          | paginate
                            : { itemsPerPage: 5, currentPage: o, id: 'first' }
                      "
                    >
                      <td style="text-align: left">{{ row.fullname }}</td>
                      <td *ngFor="let column of listHeaderSumTaskMember">
                        {{ row[column] }}
                      </td>
                    </tr>
                  </tbody>

                  <tfoot>
                    <tr>
                      <td colspan="15">
                        <pagination-controls
                          (pageChange)="o = $event"
                          id="first"
                          align="right"
                        >
                        </pagination-controls>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin" style="margin-top: -10px">
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-12 grid-margin stretch-card"
        style="margin-top: -10px"
      >
        <div class="card">
          <div class="card-body">
            <h4>Detail Task Member</h4>
            <br />

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="inputRangeDate" style="font-size: 12px"
                    >Tanggal Awal - Tanggal Akhir</label
                  >
                  <div
                    id="inputRangeDate"
                    class="input-group date datepicker btn-block"
                    style="min-width: 100%"
                  >
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="daterangeInput"
                      name="daterangeInput"
                      daterangepicker
                      [options]="options"
                      (selected)="
                        selectedDateWorkingStatus(
                          $event,
                          dateRangeWorkingStatus
                        )
                      "
                      (cancelDaterangepicker)="
                        calendarCanceledWorkingStatus($event)
                      "
                      (applyDaterangepicker)="resetWorkingStatusTeam($event)"
                    />

                    <span
                      class="input-group-addon input-group-append border-left"
                      style="text-align: center"
                    >
                      <span
                        class="mdi mdi-calendar input-group-text"
                        style="padding: 5px"
                      ></span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="optWeek" style="font-size: 12px">Team</label>
                  <div class="input-group btn-block">
                    <select
                      class="form-control form-control-sm"
                      style="min-width: 100%"
                      id="optWeek"
                      [(ngModel)]="filterTeamWorkingStatus"
                    >
                      <option
                        *ngFor="let team of listTeam3"
                        [value]="team.idTeam"
                      >
                        {{ team.teamCode }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <br />
                <button
                  *ngIf="loadingButtonWorkingStatus == false"
                  type="button"
                  class="btn btn-inverse-primary btn-sm"
                  style="min-width: 100px"
                  (click)="inquiryWorkingStatusTeam($event)"
                  type="submit"
                >
                  Cari
                </button>
                <button
                  *ngIf="loadingButtonWorkingStatus == true"
                  type="button"
                  class="btn btn-light btn-sm"
                  style="min-width: 100px"
                >
                  <div class="loader" style="margin: auto"></div>
                </button>
              </div>
              <!-- <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="optWeek" style="font-size: 12px;">Nama</label>
                                        <div class="input-group btn-block" style="min-width:100%">
                                            <input type="text" class="form-control" id="filterNameWorkingStatus"
                                                name="filterNameWorkingStatus" [(ngModel)]="filterNameWorkingStatus">
                                        </div>
                                    </div>
                                </div> -->
            </div>

            <ng-container *ngIf="loadingWFH == true">
              <div class="row" style="text-align: center">
                <div
                  class="col-12 col-sm-12 col-md-12 grid-margin stretch-card"
                >
                  <div class="dot-opacity-loader">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="loadingWFH == false">
              <div class="search-table-outter wrapper">
                <table style="text-align: center; font-size: small">
                  <thead>
                    <tr>
                      <th style="width: 20%">Tanggal</th>
                      <th style="width: 20%; text-align: left">Nama Member</th>
                      <th style="width: 10%">Status Kerja</th>
                      <th style="width: 10%">Status Kesehatan</th>
                      <th style="width: 40%; text-align: left">Detail Task</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="listWorkingStatus.length > 0">
                    <tr
                      *ngFor="
                        let workingStatus of listWorkingStatus
                          | filterworkingstatus: filterNameWorkingStatus
                          | paginate
                            : { itemsPerPage: 3, currentPage: p, id: 'second' }
                      "
                    >
                      <td>{{ workingStatus.createDatetime }}</td>
                      <td style="text-align: left">
                        {{ workingStatus.fullname }}
                      </td>
                      <td>{{ workingStatus.statusWFH }}</td>
                      <td>{{ workingStatus.statusKesehatan }}</td>
                      <td style="text-align: left">
                        <div [innerHTML]="workingStatus.detailTask"></div>
                      </td>
                      <!-- <td style="text-align:left">--</td> -->
                    </tr>
                  </tbody>
                  <tbody *ngIf="listWorkingStatus.length == 0">
                    <tr class="text-center">
                      <td colspan="6"><b>Data tidak ditemukan !</b></td>
                    </tr>
                  </tbody>

                  <tfoot>
                    <tr>
                      <td colspan="15">
                        <pagination-controls
                          (pageChange)="p = $event"
                          id="second"
                          align="right"
                        >
                        </pagination-controls>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modals WFH -->
<button
  id="openModalButton"
  [hidden]="true"
  data-toggle="modal"
  data-target="#myModal"
>
  Open Modal
</button>
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel-2"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-md" role="document">
    <form [formGroup]="workingstatus">
      <div class="modal-content">
        <div class="card">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-3">Status Harian</h5>
            <button
              type="button"
              class="close"
              (click)="closesehat()"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="statusWork">
            <div class="row rowMargin">
              <div class="col-sm-3 col-12 col-md-3">
                <h5 class="card-title">Status WFH</h5>
              </div>
              <div class="col-sm-1 col-md-1 d-none d-sm-block">
                <h5 class="card-title">:</h5>
              </div>
              <div
                class="col-sm-2 col-4 col-md-2"
                *ngFor="let listwork of listWorkingStatusConfig; let i = index"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  (change)="ifwfh()"
                  name="wfoRadio"
                  id="wfh{{ i }}"
                  [value]="listwork.configValue"
                  formControlName="wfoRadio"
                />
                <label class="form-check-label" for="exampleRadiosWFH">
                  {{ listwork.configValue }}
                </label>
              </div>
            </div>
            <div class="row rowMargin">
              <div class="col-sm-3 col-12 col-md-3">
                <h5 class="card-title">Status Kesehatan</h5>
              </div>
              <div class="col-sm-1 col-md-1 d-none d-sm-block">
                <h5 class="card-title">:</h5>
              </div>
              <div
                class="col-sm-2 col-md-2 col-5"
                *ngFor="
                  let listsehat of listWorkingKesehatanConfig;
                  let i = index
                "
              >
                <!-- <div class="form-check"> -->
                <input
                  class="form-check-input"
                  type="radio"
                  (change)="ifsehat()"
                  name="sehatRadio"
                  id="sehat{{ i }}"
                  [value]="listsehat"
                  formControlName="sehatRadio"
                />
                <label class="form-check-label" for="exampleRadiossehat">
                  {{ listsehat }}
                </label>
                <!-- </div> -->
              </div>
            </div>

            <div class="row rowMargin" *ngIf="statusonsite == 'true'">
              <div class="col-sm-3 col-3">
                <h5 class="card-title">On Site</h5>
              </div>
              <div class="col-sm-1 d-none d-sm-block">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-sm-7 col-9">
                <input
                  class="form-control"
                  style="margin-left: -20px; height: 90%"
                  type="text"
                  name="reasonst"
                  id="onsite"
                  formControlName="reasonst"
                  maxlength="30"
                />
              </div>
            </div>
            <div class="row rowMargin" *ngIf="statusLeave == 'true'">
              <div class="col-sm-3 col-3">
                <h5 class="card-title">Cuti</h5>
              </div>
              <div class="ol-sm-1 d-none d-sm-block">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-sm-7 col-9">
                <input
                  class="form-control"
                  style="margin-left: -20px; height: 90%"
                  type="text"
                  name="reaLeave"
                  id="leave"
                  formControlName="reaLeave"
                  maxlength="30"
                />
              </div>
            </div>
            <div class="row rowMargin" *ngIf="statusidsakit == 'true'">
              <div class="col-sm-3 col-3">
                <h5 class="card-title">Alasan Sakit</h5>
              </div>
              <div class="col-sm-1 d-none d-sm-block">
                <h5 class="card-title">:</h5>
              </div>
              <div class="col-sm-7 col-9">
                <input
                  class="form-control"
                  style="margin-left: -20px; height: 90%"
                  type="text"
                  name="sakitFiled"
                  id="sakit"
                  formControlName="reasonSick"
                  maxlength="20"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-light"
              (click)="closesehat()"
              data-dismiss="modal"
            >
              Batal
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              (click)="submitStatusSehat()"
            >
              Selesai
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Modals Corona -->
<button
  id="openModalButtoncorona"
  [hidden]="true"
  data-toggle="modal"
  data-target="#exampleModalcorona"
>
  Open Modal
</button>
<div
  class="modal fade"
  id="exampleModalcorona"
  tabindex="-1"
  data-backdrop="static"
  data-keyboard="false"
  role="dialog"
  aria-labelledby="exampleModalcorona"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md" style="padding: 20px" role="document">
    <div class="modal-content">
      <div class="card">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel-3">Perlu Menjadi Perhatian</h5> -->
          <img
            class="img-xs"
            src="assets\faces\000.png"
            style="width: 100%; height: 100%"
            alt="Profile image"
          />
          <button
            type="button"
            class="btn btn-warning"
            (click)="closemodal()"
            style="margin-top: -50px; margin-left: -10px"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true" style="color: black">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
