<div class="row">
  <div class="col-md-1 col-lg-2 col-sm-1 B"></div>
  <div class="col-md-3 col-lg-3 d-none d-md-block B">
    <span> </span>
    <img
      src="assets\logologin10.png"
      alt="Italian Trulli"
      style="max-width: 100%; margin-top: 60%; margin-bottom: 30%"
    />
  </div>
  <div class="col-md-1 col-lg-2 col-sm-1 B"></div>
  <div class="col-md-5 col-lg-4 B">
    <div
      class="card"
      style="margin-top: 20%; margin-bottom: 20%; border-radius: 10px"
    >
      <div class="card-body">
        <form [formGroup]="loginForm">
          <div
            class="
              auto-form-wrapper
              align-items-center
              justify-content-center
              flex-column
            "
          >
            <img
              src="assets\macan.png"
              alt="Italian Trulli"
              style="width: 25%"
            />
            <h4 class="mr-auto" style="text-align: center">
              Log in to E.A.T.S
            </h4>
            <br />
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="mdi mdi-account-outline"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  formControlName="username"
                  placeholder="Username"
                />
              </div>
            </div>
            <br />
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="mdi mdi-lock-outline"></i>
                  </span>
                </div>
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  placeholder="Kata Sandi"
                />
              </div>
            </div>
            <br />
            <div class="form-group">
              <button
                class="btn btn-primary submit-btn"
                *ngIf="loadingBar == 'false'"
                style="width: 100%"
                [disabled]="loginForm.invalid"
                (click)="login()"
              >
                LOGIN
              </button>
              <button
                *ngIf="loadingBar == 'true'"
                class="btn btn-primary submit-btn"
                style="float: right; min-width: 100%"
              >
                <div
                  class="loader"
                  style="margin: auto; margin-top: -5px"
                ></div>
              </button>
            </div>
            <br />

            <div class="form-group">
              <span class="psw"
                ><a href="#" data-toggle="modal" data-target="#exampleModal"
                  >Lupa kata sandi?</a
                ></span
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal-5"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel-5"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-5">Request Login</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This Account in use</p>
        <p>Are you sure want to kick and resume login?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          (click)="resumeLogin()"
          data-dismiss="modal"
        >
          Yes
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel-2"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <form [formGroup]="forgetPass">
      <div class="modal-content">
        <div class="card">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-3">
              Lupa Password ?
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <input
                  type="text"
                  class="form-control"
                  style="margin-top: -20px"
                  formControlName="usernameemail"
                  placeholder="Nama User / @multipolar.com"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              (click)="lupaPassword()"
              data-dismiss="modal"
              [disabled]="forgetPass.invalid"
            >
              submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
