<nav class="sidebar sidebar-offcanvas navstyle" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img
              src="{{ userImageResult }}"
              routerLink="/settings"
              style="
                width: 100%;
                height: 105%;
                cursor: pointer;
                margin-top: 10px;
                margin-bottom: 20px;
              "
              alt="profile image"
            />
          </div>
        </div>
        <div class="text-wrapper">
          <p class="profile-name" style="text-align: center">
            {{ userNameFull }}
          </p>
          <p class="profile-name" style="text-align: center">
            {{ roleNameResult }} - {{ teamCode }}
          </p>
          <p
            class="profile-name"
            style="text-align: center"
            *ngIf="statusSehat != ''"
          >
            Kamu {{ statusSehat }}
          </p>
          <p class="profile-name" style="text-align: center">{{ statusWfh }}</p>
          <p class="profile-name" style="text-align: center">
            {{ statusWFHReason }}
          </p>
        </div>
      </div>
      <hr />
    </li>

    <div
      class="row"
      *ngIf="inquirymyTeam.statusAccess == 'Y'"
      style="margin-top: -10px"
    >
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#ui-basic"
          aria-expanded="false"
          aria-controls="ui-basic"
        >
          <i
            class="menu-icon mdi mdi-chart-timeline"
            routerLink="/dasboardmanager"
          >
            <span
              style="
                margin-left: 20px;
                font-style: normal;
                font-size: 16px;
                color: black;
              "
              class="menu-title"
              >Dashboard Manager</span
            >
          </i>
        </a>
      </li>
    </div>
    <div class="row" *ngIf="createProjectManagementService.statusAccess == 'Y'">
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#ui-basic"
          aria-expanded="false"
          aria-controls="ui-basic"
        >
          <i class="menu-icon mdi mdi-calendar" routerLink="/weeklycalendar">
            <span
              style="
                margin-left: 20px;
                font-style: normal;
                font-size: 16px;
                color: black;
              "
              class="menu-title"
              >Weekly Calendar</span
            >
          </i>
        </a>
      </li>
    </div>
    <div class="row" *ngIf="createProjectManagementService.statusAccess == 'Y'">
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#ui-basic"
          aria-expanded="false"
          aria-controls="ui-basic"
        >
          <i class="menu-icon mdi mdi-calendar" routerLink="/holidaycalendar">
            <span
              style="
                margin-left: 20px;
                font-style: normal;
                font-size: 16px;
                color: black;
              "
              class="menu-title"
              >Holiday Calendar</span
            >
          </i>
        </a>
      </li>
    </div>
    <div class="row" *ngIf="getDailyTaskService.statusAccess == 'Y'">
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#ui-basic"
          aria-expanded="false"
          aria-controls="ui-basic"
        >
          <i class="menu-icon mdi mdi-clipboard-text" routerLink="/dailytask">
            <span
              style="
                margin-left: 20px;
                font-style: normal;
                font-size: 16px;
                color: black;
              "
              class="menu-title"
              >Daily Task</span
            >
          </i>
        </a>
      </li>
    </div>
    <div class="row" *ngIf="getWeeklyTaskService.statusAccess == 'Y'">
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#ui-basic"
          aria-expanded="false"
          aria-controls="ui-basic"
        >
          <i
            class="menu-icon mdi mdi-clipboard-outline"
            routerLink="/weeklytask"
          >
            <span
              style="
                margin-left: 20px;
                font-style: normal;
                font-size: 16px;
                color: black;
              "
              class="menu-title"
              >Weekly Task</span
            >
          </i>
        </a>
      </li>
    </div>
    <div class="row" *ngIf="inquirymyTeam.statusAccess == 'Y'">
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#ui-basic"
          aria-expanded="false"
          aria-controls="ui-basic"
        >
          <i class="mdi mdi-account-multiple-outline" routerLink="/myteam">
            <span
              style="
                margin-left: 20px;
                font-style: normal;
                font-size: 16px;
                color: black;
              "
              class="menu-title"
              >My Team</span
            >
          </i>
        </a>
      </li>
    </div>

    <div class="row" *ngIf="getTeamManagementService.statusAccess == 'Y'">
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#ui-basic"
          aria-expanded="false"
          aria-controls="ui-basic"
        >
          <i class="mdi mdi-chart-timeline" routerLink="/createteam">
            <span
              style="
                margin-left: 20px;
                font-style: normal;
                font-size: 16px;
                color: black;
              "
              class="menu-title"
              >Create Team</span
            >
          </i>
        </a>
      </li>
    </div>

    <div class="row" *ngIf="createProjectManagementService.statusAccess == 'Y'">
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#ui-basic"
          aria-expanded="false"
          aria-controls="ui-basic"
        >
          <i class="mdi mdi-receipt" routerLink="/createproject">
            <span
              style="
                margin-left: 20px;
                font-style: normal;
                font-size: 16px;
                color: black;
              "
              class="menu-title"
              >Create Project</span
            >
          </i>
        </a>
      </li>
    </div>

    <div
      class="rowd-lg-none"
      *ngIf="getUserManagementService.statusAccess == 'Y'"
    >
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#ui-basic"
          aria-expanded="false"
          aria-controls="ui-basic"
          routerLink="/usermanagement"
        >
          <span
            style="
              margin-left: 20px;
              font-style: normal;
              font-size: 16px;
              color: black;
            "
            class="menu-title"
          >
            User Management
          </span>
        </a>
      </li>
    </div>

    <div class="row d-lg-none" *ngIf="getConfigService.statusAccess == 'Y'">
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#ui-basic"
          aria-expanded="false"
          aria-controls="ui-basic"
          routerLink="/configuration"
        >
          <span
            style="
              margin-left: 20px;
              font-style: normal;
              font-size: 16px;
              color: black;
            "
            class="menu-title"
          >
            Configuration
          </span>
        </a>
      </li>
    </div>

    <div class="row d-lg-none">
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#ui-basic"
          aria-expanded="false"
          aria-controls="ui-basic"
          routerLink="/settings"
        >
          <span
            style="
              margin-left: 20px;
              font-style: normal;
              font-size: 16px;
              color: black;
            "
            class="menu-title"
          >
            Pengaturan Profile
          </span>
        </a>
      </li>
    </div>

    <div class="row d-lg-none">
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#ui-basic"
          aria-expanded="false"
          aria-controls="ui-basic"
          routerLink="/changepassword"
        >
          <span
            style="
              margin-left: 20px;
              font-style: normal;
              font-size: 16px;
              color: black;
            "
            class="menu-title"
          >
            Ganti Password
          </span>
        </a>
      </li>
    </div>

    <div class="row d-lg-none">
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#ui-basic"
          aria-expanded="false"
          aria-controls="ui-basic"
          data-toggle="modal"
          data-target="#exampleModal-10"
        >
          <span
            style="
              margin-left: 20px;
              margin-bottom: 20px;
              font-style: normal;
              font-size: 16px;
              color: black;
            "
            class="menu-title"
          >
            Log Out
          </span>
        </a>
      </li>
    </div>
  </ul>
</nav>

<!-- MODAL -->
<div
  class="modal fade"
  id="exampleModal-10"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel-10"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-4">Log out</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to log out?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          (click)="logout()"
          data-dismiss="modal"
        >
          Yes
        </button>
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
