<div class="clock">
  <span class="hour" style="font-size: 20px;">{{ hours }}:</span>
  <span class="min" style="font-size: 20px;">{{ minutes }}:</span>
  <span class="second" style="font-size: 20px;">{{ seconds }}</span>
  <p class="day" style="font-size: 14px;">{{today}}</p>
</div>
