<!-- [(ngModel)]="inputValue" -->
<!-- <input id="selected"  type="text" name="empname" list="items" />
<datalist id="items">
  <option *ngFor="let item of listDatainput" data-value="item.id" >{{item.projectName}}</option>
</datalist> -->

<!-- <input id="selected" list="browsers" name="browser">
<datalist id="browsers">
    <option data-value="1" value="InternetExplorer"></option>
    <option data-value="2" value="Firefox"></option>
    <option data-value="3" value="Chrome"></option>

</datalist> -->
<!-- <input id="submit" type="submit" (click)="click()"> -->
<!-- <input list="items" oninput="console.log(this.value);" />
<datalist id="items">
  <option *ngFor="let item of listDatainput" data-value={{item.pid}}>{{item.pid}} - {{item.projectName}}</option>
</datalist> -->

<input type="text"  list="codes" [(ngModel)]="codeValue" (change)="saveCode($event)">
<datalist id="codes">
  <option *ngFor="let c of codeList" data-value="c.id" >{{c.name}} - {{c.pid}}</option>
</datalist>

<button (click)="click()">CLICK</button>