<div class="row">
    <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="group">
                    <h2 class="mb-0">{{fullnamePerson}} - Weekly Task</h2>
                    <p class="text-gray"></p>
                    <!-- <button class="btn btn-success submit-btn" style="float: right; margin-top: -40px;">Export
                        Excel</button>
                    <br> -->

                    <form [formGroup]="weeklyTaskForm">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="optWeek">Minggu ke</label>
                                    <select class="form-control" id="optWeek" formControlName="week">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>

                                    <span
                                        *ngIf="weeklyTaskForm.controls.week.invalid && weeklyTaskForm.controls.week.touched"
                                        style="font-size: 10px;  color: #ed4a4a;">
                                        Minggu ke tidak boleh kosong</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtYear">Periode</label>

                                    <div id="datepicker-popup2" class="input-group date datepicker btn-block"
                                        style="min-width:100%">
                                        <input type="text" class="form-control" id="periodeSearch" name="periodeSearch"
                                            formControlName="period">
                                        <span class="input-group-addon input-group-append border-left"
                                            style="text-align: center">
                                            <span class="mdi mdi-calendar input-group-text" style="padding: 5px"></span>
                                        </span>
                                    </div>

                                    <span *ngIf="flagPeriod" style="font-size: 10px;  color: #ed4a4a;">
                                        Periode tidak boleh kosong</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <br />
                                <button class="btn btn-icons btn-inverse-primary"
                                    style="min-width:120px;float: left;bottom:0; " (click)="searchWeeklyTask()"
                                    type="submit">Cari</button>
                            </div>

                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin">

        <ng-container *ngIf="loadingData==true">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-body text-center">
                            <div class="dot-opacity-loader">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="loadingData==false">
            <div class="row" *ngIf="dailyTaskData.length > 0">

                <!-- CARD -->
                <div class="col-4 col-sm-4 col-md-4 grid-margin stretch-card"
                    *ngFor="let dailytask of dailyTaskData; let i = index">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-header text-center">
                            {{datetimeTask[i]}}
                        </div>
                        <div class="card-body" *ngFor="let spesificTask of dailyTaskData[i]; let j = index">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h5 class="card-title">{{dailyTaskData[i][j].projectName}}</h5>
                                </div>
                                <div class="col-sm-4">
                                    <h5 class="card-title">{{dailyTaskData[i][j].workingHourActual}} H</h5>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-5">

                                </div>
                                <div class="col-md-7">
                                    <button class="btn btn-primary" type="button" (click)="inquiryTaskDetail(i)"
                                        style="float:right; margin-bottom:20px ;" data-toggle="modal"
                                        data-target="#modalDetail" data-whatever="@mdo">Lihat Rincian</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="count == 0">

                <!-- CARD -->
                <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-header text-center">
                            <b>Data Tidak Ditemukan !</b>
                        </div>

                    </div>
                </div>
            </div>
        </ng-container>




    </div>
</div>



<!-- Modal Detail-->
<div class="modal" id="modalDetail">
    <div class="modal-dialog" style="min-width:85%;">
        <div class="modal-content">
            <div class="card">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDetailLabel">{{fullnamePerson}} - {{dateTask}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <ng-container *ngIf="loadingDetail==true">
                        <div class="dot-opacity-loader">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="loadingDetail==false">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width: 10%;">PID</th>
                                    <th style="width: 25%;">Nama Proyek</th>
                                    <th style="width: 40%;">Tugas</th>
                                    <th style="width: 10%;">Rencana Jam Kerja</th>
                                    <th style="width: 10%;">Aktualisasi Jam Kerja</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="pid.length > 0">
                                <tr *ngFor="let pid of listDetail; let a = index">
                                    <td>#{{pid.pid}}</td>
                                    <td>{{pid.projectName}}</td>
                                    <td>{{pid.taskDetail}}</td>
                                    <td>{{pid.workingHourPlan}} H</td>
                                    <td>{{pid.workingHourActual}} H</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="pid.length == 0">
                                <tr class="text-center">
                                    <td colspan="6"><b>Data tidak ditemukan !</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-container>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Keluar</button>
                </div>


            </div>
        </div>
    </div>
</div>