<div class="row">
    <div class="col-12 col-sm-12 col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="group">
                    <h4 class="mb-0">Konfigurasi status kerja</h4>
                </div>
            </div>
            <div class="card-body" style="margin-top: -20px;">
                <form [formGroup]="createconfworkForm">
                    <div class="row">
                        <div class="col-7">
                            <label for="exampleInputEmail1">Nama Konfigurasi</label>
                            <input type="text" class="form-control" id="configname" formControlName="nameConf"
                                name="configname" placeholder="Nama Konfigurasi" maxlength="20">
                        </div>

                        <div class="col-5">
                            <label class="col col-form-label"></label>
                            <button type="submit" class="btn btn-primary" (click)="createconfig()"
                                style="float: right; width: 100%; margin-top: 10px;"
                                [disabled]="createconfworkForm.invalid">Buat</button>
                        </div>
                    </div>
                </form>
            </div>
            <br />
            <div class="card-body" style="margin-top: -30px;">

                <form [formGroup]="updateForm">
                    <table>
                        <thead style="text-align: center;">
                            <tr>
                                <th scope="col">Kategori Konfigurasi</th>
                                <th scope="col">Nama Konfigurasi</th>
                                <th scope="col" style="width: 16%;">Aktif</th>
                                <th scope="col" style="width: 16%;">Aksi</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;">
                            <tr
                                *ngFor="let listWSC of listWorkingStatusConfig | paginate: { itemsPerPage: 3, currentPage: p}; let i = index ">
                                <td scope="row">{{listWSC.configMenu}}</td>
                                <td scope="row" *ngIf="listWSC.id != tksindex">{{listWSC.configValue}}</td>
                                <td *ngIf="listWSC.id == tksindex">
                                    <div class="ui fluid input">
                                        <input style="min-width: 80px;" type="text" class="typeahead"
                                            formControlName="confEdit" id="pidedit" name="pidedit" maxlength="20">
                                    </div>
                                </td>
                                <td scope="row">
                                    <button type="submit" class="btn btn-success" style="border-radius: 50%;"
                                        *ngIf="listWSC.active =='Y' && listWSC.id!=tksindex"
                                        (click)="activation(listWSC.id, listWSC.active)">{{listWSC.active}}</button>
                                    <button type="submit" class="btn btn-danger" style="border-radius: 50%;"
                                        *ngIf="listWSC.active == 'N'"
                                        (click)="activation(listWSC.id, listWSC.active)">{{listWSC.active}}</button>
                                </td>
                                <td scope="row">
                                    <i class="mdi mdi-account-edit" *ngIf="listWSC.active =='Y' && listWSC.id!=tksindex"
                                        (click)="updateRemark(listWSC.id, listWSC.configValue)"
                                        style="margin-bottom: -15px; margin-right: 5px; cursor: pointer; font-size: 20px;"></i>
                                    <i *ngIf="listWSC.id == tksindex" class="mdi mdi-checkbox-marked-circle-outline"
                                        style="color:green;cursor: pointer; margin-right: 10px;"
                                        (click)="updateDataEdit(listWSC.id)"></i>
                                    <i *ngIf="listWSC.id == tksindex" class="mdi mdi-minus-circle-outline"
                                        style="color:darkred;cursor: pointer;size: 10px" (click)="reverbEditData()"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <pagination-controls class="my-pagination" (pageChange)="p = $event" align="right">
            </pagination-controls>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 grid-margin stretch-card" style="height: 10%;">
        <div class="card">
            <div class="card-body">
                <!-- <div class="group"> -->
                <div class="row" style="margin-top: -5px;">
                    <div class="col-sm-6">
                        <h4 class="mb-0">Konfigurasi email admin</h4>
                    </div>
                    <div class="col-sm-5" style="text-align: right;" *ngFor="let list of secondListeml">
                        <i class="mdi mdi-power" *ngIf="statusemail=='Y'" (click)="activeEmail(list.id)"
                            style="margin-bottom: -15px; margin-right: 5px; cursor: pointer; color: green; font-size: 45px;"></i>
                        <i class="mdi mdi-power" *ngIf="statusemail=='N'" (click)="activeEmail(list.id)"
                            style="margin-bottom: -15px; margin-right: 5px; cursor: pointer; color: red; font-size: 45px;"></i>
                        </div>
                    <div class="col-sm-1">

                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="card-body">
                <form [formGroup]="configEmailAdmin">

                    <table>
                        <thead style="text-align: left;">
                            <tr>
                                <th style="width: 25%;">Email</th>
                                <th style="width: 5%;">:</th>
                                <td style="width: 70%;" class="right" *ngFor="let list of secondListeml">
                                    <input type="text" class="form-control" style="margin-top: -5px;" id="configemail"
                                        formControlName="useremail" name="configemail" placeholder="Email"
                                        (change)="idtest(list.id, list.subconfig)">
                                </td>
                            </tr>
                        </thead>
                        <tbody style="text-align: left;">
                            <tr>
                                <th style="width: 25%;">Password</th>
                                <th style="width: 5%;">:</th>
                                <td style="width: 7%;" class="right" *ngFor="let list of secondListpsw">
                                    <input type="password" class="form-control" id="configpass"
                                        formControlName="passemail" name="configpass" placeholder="Kata sandi"
                                        maxlength="100" (change)="idtest(list.id, list.subconfig)">
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-warning" *ngIf=" statusemail=='Y'"
                                (click)="checkEmail()" style="width: 100%; margin-top: 10px;">Tes email</button>
                            <button type="submit" class="btn btn-warning" *ngIf="statusemail=='N'"
                                [disabled]='true' style="width: 100%; margin-top: 10px;">Tes email</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary" *ngIf="statusemail=='Y'"
                                data-toggle="modal" data-target="#modalUpdate"
                                style="float: right; width: 100%; margin-top: 10px;"
                                [disabled]="configEmailAdmin.invalid">Perbaharui</button>
                            <button type="submit" class="btn btn-primary" *ngIf="statusemail=='N'"
                                style="float: right; width: 100%; margin-top: 10px;"
                                [disabled]="true">Perbaharui</button>
                        </div>
                    </div>
                </form>
                <br />
                <br />
            </div>
        </div>

    </div>
</div>

<!-- Modals Delete -->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-3"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel-3">Perbaharui Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Apakah anda yakin ingin perbaharui data email?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="updateConfigEmail()"
                    data-dismiss="modal">Perbaharui</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
</div>