<!-- <router-outlet name="login"></router-outlet> -->

<div *ngIf="router.url === '/'; else other_content">
  <router-outlet name="login"></router-outlet>
</div>

<ng-template #other_content>
  <div class="container-scroller">
    <!-- header -->
    <router-outlet name="header"></router-outlet>

    <div class="container-fluid page-body-wrapper">
      <!-- Navbarside  -->
      <router-outlet name="navbarside"></router-outlet>
      <div class="main-panel">
        <br /><br />
        <div class="content-wrapper">
          <!-- other page -->
          <router-outlet></router-outlet>
        </div>

        <!-- Footer -->
        <router-outlet name="footer"></router-outlet>
      </div>
    </div>
  </div>
</ng-template>

<div
  bsModal
  #childModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-child-name"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">
          You Have Been Idle!
        </h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hideChildModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ idleState }}
        <div class="row justify-content-between">
          <div class="col-3 col-md-3">
            <button type="button" (click)="logout()" class="btn btn-danger">
              Logout
            </button>
          </div>
          <div class="col-3 col-md-3">
            <button type="button" (click)="stay()" class="btn btn-success">
              Stay
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
