<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="ui form" [formGroup]="changePasswordForm">
                    <h4 class="card-title" style="font-size: 20px">Perbaharui Password</h4><br>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label style="font-size: 15px; width: 200px;">Password Lama</label>
                            <div id="the-basics">
                                <div class="input-group">
                                    <input type="password" #y class="typeahead" formControlName="current"
                                         id="current" name="current"
                                        placeholder="Current Password">
                                    <span class="input-group-addon input-group-append border-left"
                                        style="text-align: center">
                                        <span class="mdi mdi-eye input-group-text"
                                            (click)="y.type=y.type=='password'?'text':'password'"
                                            style="padding:10px; min-width: 30%;"></span>
                                    </span>

                                </div>
                                <span style="font-size: 10px; color: #ed4a4a;"
                                    *ngIf="changePasswordForm.controls.current.invalid && changePasswordForm.controls.current.dirty">Current
                                    password cannot be empty </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label style="font-size: 15px; width: 200px;">Password Baru</label>
                            <div id="the-basics">
                                <div class="input-group">
                                    <input type="password" #x class="typeahead" formControlName="newP"
                                         id="newP" name="newP" placeholder="New Password">
                                    <span class="input-group-addon input-group-append border-left"
                                        style="text-align: center">
                                        <span class="mdi mdi-eye input-group-text"
                                            (click)="x.type=x.type=='password'?'text':'password'"
                                            style="padding:10px; min-width: 30%;"></span>
                                    </span>

                                </div>
                                <span style="font-size: 10px; color: #ed4a4a;"
                                    *ngIf="changePasswordForm.controls.newP.invalid && changePasswordForm.controls.newP.dirty">New
                                    Password cannot be empty </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div id="the-basics">
                                <label style="color: transparent;">-</label>
                                <button class="btn btn-icons btn-inverse-warning" style="float: right;min-width: 100%"
                                    data-toggle="modal" data-target="#exampleModal-change" [disabled]="changePasswordForm.invalid"
                                   >Update Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal-change" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-change"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel-change">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Apakah anda yakin ingin mengubah password ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="updatePassword()"
                    data-dismiss="modal">Ganti</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>