<div class="row">
  <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="group">
          <h4 class="mb-0">My Team {{ teamName }}</h4>
          <p class="text-gray">{{ today }}</p>
        </div>

        <br />
        <button
          class="btn btn-primary submit-btn"
          style="float: right; margin-top: -40px"
          data-toggle="modal"
          data-target="#modalMyTeamAllTask"
          data-whatever="@mdo"
          (click)="inquiryGetAllDailyTaskByTeam()"
        >
          Rincian
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <ng-container *ngIf="loadingData == true">
        <div
          class="col-12 col-sm-12 col-md-12 grid-margin stretch-card"
          style="margin-top: -10px"
        >
          <div class="card">
            <div class="card-body">
              <div class="dot-opacity-loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="loadingData == false">
        <div
          class="
            col-12 col-sm-6 col-md-4 col-lg-4 col-eg-3
            grid-margin
            stretch-card
          "
          *ngFor="let staff of listStaff; let i = index"
          style="margin-top: -10px"
        >
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12" style="margin-top: -20px">
                  <div class="text-center">
                    <i
                      class="mdi mdi-account-circle"
                      style="text-align: center"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body" style="margin-top: -20px">
              <div class="row">
                <div class="col-sm-12">
                  <h3 style="text-align: center">{{ staff.userFullname }}</h3>
                  <p class="text-gray" style="text-align: center">
                    {{ staff.jabatan }}
                  </p>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-6">
                  <div class="text-center">
                    <button
                      type="button"
                      class="btn btn-info"
                      (click)="dailyDetail(staff.userId, staff.userFullname)"
                      data-toggle="modal"
                      data-target="#myModal"
                      style="
                        width: 100%;
                        text-align: center;
                        margin-bottom: 20px;
                      "
                    >
                      Daily
                    </button>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="text-center">
                    <button
                      type="button"
                      class="btn btn-warning"
                      style="
                        width: 100%;
                        text-align: center;
                        margin-bottom: 20px;
                      "
                      (click)="weeklyTask(staff.userId, staff.userFullname)"
                    >
                      Weekly
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- // modal dialog daily detail -->
<div
  class="modal fade bd-example-modal-lg"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" style="min-width: 70%" role="document">
    <div class="modal-content">
      <div class="card">
        <div class="modal-header">
          <h5 class="modal-title" id="myModal">
            Daily Detail {{ userFullname }}
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="statusWork">
          <ng-container *ngIf="loadingDaily == true">
            <div class="dot-opacity-loader">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </ng-container>

          <ng-container *ngIf="loadingDaily == false">
            <div class="search-table-outter wrapper">
              <table style="text-align: center; font-size: small">
                <thead style="text-align: center">
                  <tr>
                    <th scope="col" style="width: 10%">PID</th>
                    <th scope="col" style="width: 25%">Project Name</th>
                    <th scope="col">Task</th>
                    <th scope="col" style="width: 15%">Plan Hours</th>
                    <th scope="col" style="width: 15%">Actual Hours</th>
                  </tr>
                </thead>

                <tbody *ngIf="listDailyTaskTeam.length == 0">
                  <tr class="text-center">
                    <td colspan="5"><b>Data tidak ditemukan !</b></td>
                  </tr>
                </tbody>

                <tbody
                  *ngIf="listDailyTaskTeam.length > 0"
                  style="text-align: center"
                >
                  <tr *ngFor="let listDaily of listDailyTaskTeam">
                    <td scope="row">{{ listDaily.pid }}</td>
                    <td scope="row">{{ listDaily.projectName }}</td>
                    <td scope="row">{{ listDaily.taskDetail }}</td>
                    <td scope="row">{{ listDaily.workingHourPlan }} Jam</td>
                    <td scope="row">{{ listDaily.workingHourActual }} Jam</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal My Team All Task-->
<div class="modal" id="modalMyTeamAllTask">
  <div class="modal-dialog" style="min-width: 85%">
    <div class="modal-content">
      <div class="card">
        <div class="modal-header">
          <h5 class="modal-title" id="modalMyTeamAllTaskLabel">
            {{ teamName }} - {{ today }}
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <ng-container *ngIf="loadingDetail == true">
            <div class="dot-opacity-loader">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </ng-container>

          <ng-container *ngIf="loadingDetail == false">
            <div class="search-table-outter wrapper">
              <table style="text-align: center; font-size: small">
                <thead>
                  <tr>
                    <th>Nama Lengkap</th>
                    <th>PID</th>
                    <th>Nama Proyek</th>
                    <th>Tugas</th>
                    <th>Rencana Jam Kerja</th>
                    <th>Aktualisasi Jam Kerja</th>
                  </tr>
                </thead>
                <tbody *ngIf="listDetailTask.length > 0">
                  <tr *ngFor="let pid of listDetailTask; let a = index">
                    <td data-label="fullname">{{ pid.fullname }}</td>
                    <td data-label="pid">#{{ pid.pid }}</td>
                    <td data-label="projectName">{{ pid.projectName }}</td>
                    <td data-label="taskDetail">{{ pid.taskDetail }}</td>
                    <td data-label="workingHourPlan">
                      {{ pid.workingHourPlan }} Jam
                    </td>
                    <td data-label="workingHourActual">
                      {{ pid.workingHourActual }} Jam
                    </td>
                  </tr>
                </tbody>

                <tbody *ngIf="listDetailTask.length == 0">
                  <tr class="text-center">
                    <td colspan="6"><b>Data tidak ditemukan !</b></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Keluar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
