<div class="row">
    <div class="col-md-12 col-sm-12 grid-margin">
        <div class="card">
            <div class="card-body" style="padding-bottom:0px">
                <h4 class="card-title" style="font-size: 20px">Role Management</h4><br>
               
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Search by </label><br>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <select class="btn btn-secondary dropdown-toggle" id="rolePicker"
                                [(ngModel)]="rolePicker"  style="min-width:100%;margin-bottom:10px">
                                <option value="null">Role Name </option>
                                <option *ngFor="let role of roleList; let i=index" [value]="role.roleId">{{role.roleName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3">
                            <button type="button" class="btn btn-icons btn-inverse-primary"
                                style="min-width:100%; float: right;" (click)="createnewrole()">
                                <i class="mdi mdi-account-plus"></i> Create New Role
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <table class="table table-striped" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th>Role Id</th>
                                    <th>Role Code</th>
                                    <th>Role Name</th>
                                    <th>Created Date</th>
                                    <th>Created By</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="roleManagement.length > 0 ">
                                <tr *ngFor="let role of roleManagement | filterrolemanagement :rolePicker | paginate: { itemsPerPage: 10, currentPage: p}; let i = index" style="text-align: center;">
                                    <td>{{role.roleId}}</td>
                                    <td>{{role.roleCode}}</td>
                                    <td>{{role.roleName}}</td>
                                    <td>{{role.createDatetime}}</td>
                                    <td>{{role.createUsername}}</td>
                                    <td>
                                        <button type="button" class="btn btn-icons btn-inverse-primary"
                                            (click)="rolemanagementupdate(role.roleId)">
                                            <i class="mdi mdi-account-edit"></i>
                                        </button>

                                        <button type="button" class="btn btn-icons btn-inverse-danger"
                                            (click)="deleteconfirmed(role.roleId,role.roleName)"
                                            data-toggle="modal" data-target="#exampleModal-3">
                                            <i class="mdi mdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="roleManagement.length == 0">
                                <tr class="text-center">
                                    <td colspan="6"><b>Data Not Found !</b></td>
                                </tr>
                            </tbody>


                            <tfoot>
                                <tr>
                                    <td colspan="15">
                                        <pagination-controls class="my-pagination" style="font-family: Arial"
                                            (pageChange)="p = $event" align="right">
                                        </pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-3"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel-3">Delete Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete role {{roleNameDelete}} ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deactivateRole(roleIdDelete)"
                    data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>