<div class="row">
  <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
    <div class="card">
      <form [formGroup]="createTeam" (ngSubmit)="createNewTeam()">
        <div class="card-body">
          <div class="group">
            <h4 class="mb-0">Buat Tim</h4>
            <!-- <p class="text-gray">{{today}}</p> -->
            <br />
          </div>
        </div>
        <div class="card-body" style="margin-top: -30px">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-12">
              <h5 class="card-title">Kode Tim</h5>
            </div>
            <div class="col-md-1 col-sm-1 d-none d-sm-block">
              <h5 class="card-title">:</h5>
            </div>
            <div class="col-md-8 col-sm-8 col-12">
              <input
                type="text"
                class="form-control"
                formControlName="kodetim"
                style="height: 70%; margin-top: -10px"
                placeholder="Kode tim"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-12">
              <h5 class="card-title">Nama Tim</h5>
            </div>
            <div class="col-md-1 col-sm-1 d-none d-sm-block">
              <h5 class="card-title">:</h5>
            </div>
            <div class="col-md-8 col-sm-8 col-12">
              <input
                type="text"
                class="form-control"
                formControlName="namatim"
                style="height: 70%; margin-top: -10px"
                placeholder="Nama tim"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-12">
              <h5 class="card-title">ID Manager</h5>
            </div>
            <div class="col-md-1 col-sm-1 d-none d-sm-block">
              <h5 class="card-title">:</h5>
            </div>
            <div class="col-md-8 col-sm-8 col-12">
              <div class="form-group">
                <select
                  class="form-control"
                  id="exampleFormControlselect"
                  formControlName="managerid"
                  style="width: 100%; height: 100%"
                  *ngIf="newManager.length > 0"
                >
                  <option *ngFor="let list of newManager" [value]="list.userId">
                    {{ list.userFullname }}
                  </option>
                </select>
                <select
                  class="form-control"
                  style="width: 100%; height: 100%"
                  *ngIf="newManager.length == 0"
                >
                  <option>Tidak ada manager tersedia</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
              <button
                class="btn btn-primary"
                style="width: 100%"
                [disabled]="createTeam.invalid"
              >
                Create
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row" style="margin-top: -10px">
  <div class="col-md-12 grid-margin">
    <ng-container *ngIf="loadingData == true">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
          <div class="card" style="border-radius: 10px">
            <div class="card-body text-center">
              <div class="dot-opacity-loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="loadingData == false">
      <form [formGroup]="updateForm">
        <div class="row">
          <div
            class="
              col-12 col-sm-6 col-md-4 col-lg-4 col-eg-3
              grid-margin
              stretch-card
            "
            *ngFor="let team of listTeam; let i = index"
          >
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12" style="margin-top: -20px">
                    <div class="text-center">
                      <i
                        class="mdi mdi-account"
                        style="
                          text-align: center;
                          font-size: 90px;
                          text-align: center;
                          color: lightslategray;
                        "
                      ></i>
                    </div>
                    <!-- <img src="assets\faces\iconnaruto.png" style="width: 100%;" alt="profile image"> </div> -->
                  </div>
                </div>
              </div>
              <div class="card-body" style="margin-top: -20px">
                <div class="row">
                  <div class="col-sm-12">
                    <h3 style="text-align: center">{{ team.managerName }}</h3>

                    <!-- <p class="text-gray" style="text-align: center;" *ngIf="i != tksindex">
                                            {{team.teamCode}} - {{team.teamName}}</p> -->
                    <!-- <input type="text" class="form-control" style="height: 10%; width: 40%; "
                                            *ngIf="i == tksindex" [value]="codeTeam" formControlName="codeTeam"
                                            id="codeTeam" name="teamCode" />
                                        <input type="text" class="form-control" style="height: 10%; width: 40%;"
                                            *ngIf="i == tksindex" formControlName="nameTeam" id="nameTeam"
                                            name="nameTeam" /> -->
                  </div>
                </div>
                <div
                  class="row"
                  style="margin-right: -30px; margin-left: -30px"
                >
                  <div class="col">
                    <p
                      class="text-gray"
                      style="text-align: center"
                      *ngIf="i != tksindex"
                    >
                      {{ team.teamCode }}
                    </p>
                    <input
                      type="text"
                      class="form-control"
                      style="height: 10%; width: 100%"
                      *ngIf="i == tksindex"
                      formControlName="codeTeam"
                      id="codeTeam"
                      name="teamCode"
                    />
                  </div>
                  <div class="col" style="margin-left: -20px">
                    <p
                      class="text-gray"
                      style="text-align: center"
                      *ngIf="i != tksindex"
                    >
                      {{ team.teamName }}
                    </p>
                    <input
                      type="text"
                      class="form-control"
                      style="height: 10%; width: 100%"
                      *ngIf="i == tksindex"
                      formControlName="nameTeam"
                      id="nameTeam"
                      name="nameTeam"
                    />
                  </div>
                </div>
              </div>
              <div class="card-footer" style="margin-top: -20px">
                <div class="row">
                  <!-- <div class="col-sm-5">

                                    </div> -->
                  <div class="col-sm-12" *ngIf="i != tksindex">
                    <button
                      class="btn btn-primary"
                      *ngIf="i != tksindex"
                      style="margin-bottom: 20px; width: 100%"
                      (click)="updateRemark(i, team.teamCode, team.teamName)"
                    >
                      Edit
                    </button>
                  </div>
                  <div class="col-9 col-sm-9 col-md-10" *ngIf="i == tksindex">
                    <button
                      class="btn btn-success"
                      style="margin-bottom: 20px; width: 100%"
                      (click)="updateTeam(team.managerId, team.id)"
                    >
                      Update
                    </button>
                  </div>
                  <div class="col-1 col-sm-1 col-md-1" *ngIf="i == tksindex">
                    <i
                      *ngIf="i == tksindex"
                      class="mdi mdi-minus-circle-outline"
                      style="color: darkred; cursor: pointer; font-size: 20px"
                      (click)="reverbUpdateData()"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
</div>
