<div class="row">
    <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4>Kalender Mingguan</h4>
                <br />

                <ng-container *ngIf="loadingData==true">
                    <div class="dot-opacity-loader">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </ng-container>

                <ng-container *ngIf="loadingData==false">
                    <table>
                        <thead style="text-align: center;">
                            <tr>
                                <th scope="col" style="width: 10%; text-align: center;">Plan</th>
                                <th scope="col" style="width: 10%; text-align: left;">Bulan</th>
                                <th scope="col" style="width: 10%; text-align: center;">Minggu ke-</th>
                                <th scope="col" style="width: 10%; text-align: center;">Tahun</th>
                                <th scope="col" style="width: 20%; text-align: left;">Tanggal Mulai</th>
                                <th scope="col" style="width: 20%; text-align: left;">Tanggal Akhir</th>
                                <th scope="col" style="width: 10%;">Aksi</th>
                            </tr>
                        </thead>

                        <tbody *ngIf="listWeekly.length > 0" style="text-align: center; ">
                            <tr
                                *ngFor="let weekly of listWeekly | paginate: { itemsPerPage: 10, currentPage: p}; let i = index ">
                                <td scope="row" style="text-align: center;">{{weekly.plan}}</td>
                                <td scope="row" style="text-align: left;">{{months[weekly.month-1]}}</td>
                                <td scope="row" style="text-align: center;">{{weekly.weekMonth}}</td>
                                <td scope="row" style="text-align: center;">{{weekly.year}}</td>
                                <td scope="row" style="text-align: left;">{{weekly.startDate}}</td>
                                <td scope="row" style="text-align: left;">{{weekly.endDate}}</td>
                                <td scope="row">
                                    <i class="mdi mdi-account-edit" style="cursor: pointer; margin-right: 20px;"
                                        (click)="updateconfirmed(weekly.id)" data-toggle="modal"
                                        data-target="#modalEditWeekly"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="listWeekly.length == 0" style="text-align: center; ">
                            <tr class="text-center">
                                <td colspan="7"><b>Data tidak ditemukan !</b></td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </div>
            <pagination-controls class="my-pagination" (pageChange)="p = $event" align="right">
            </pagination-controls>

        </div>
    </div>
</div>



<!-- Modal Edit -->
<div class="modal" id="modalEditWeekly">
    <div class="modal-dialog" style="min-width:35%;">
        <div class="modal-content">
            <div class="card">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditWeeklyLabel">Edit Weekly</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form class="form-sample">
                        <div class="row">
                            <div class="col-md-12">

                                <form [formGroup]="updateWeeklyForm">

                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="plan1">Plan</label>
                                            <select class="form-control" formControlName="plan1"
                                                [(ngModel)]="weeklyUpdate.plan1" id="plan1" name="plan1">
                                                <option *ngFor="let month of months;let i=index" [value]="i+1">
                                                    {{i+1}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="plan2"></label>
                                            <select class="form-control" formControlName="plan2"
                                                [(ngModel)]="weeklyUpdate.plan2" id="plan2" name="plan2">
                                                <option [value]="1">1</option>
                                                <option [value]="2">2</option>
                                                <option [value]="3">3</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-12 col-form-label">Bulan</label>
                                        <select class="form-control" formControlName="month"
                                            [(ngModel)]="weeklyUpdate.month" id="month" name="month">
                                            <option *ngFor="let month of months;let i=index" [ngValue]="i+1">
                                                {{month}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 col-form-label">Minggu ke-</label>
                                        <select class="form-control" formControlName="weekMonth"
                                            [(ngModel)]="weeklyUpdate.weekMonth" id="weekMonth" name="weekMonth">
                                            <option [ngValue]="1">1</option>
                                            <option [ngValue]="2">2</option>
                                            <option [ngValue]="3">3</option>
                                            <option [ngValue]="4">4</option>
                                            <option [ngValue]="5">5</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 col-form-label">Tahun</label>
                                        <input type="text" class="form-control" formControlName="year" id="year"
                                            name="year" [(ngModel)]="weeklyUpdate.year" placeholder="year">
                                        <div style="color: #ed4a4a; font-size: 12px"
                                            *ngIf="updateWeeklyForm.controls.year.invalid &&  updateWeeklyForm.controls.year.touched">
                                            Tahun harus numerik dan tidak boleh kosong</div>
                                    </div>


                                </form>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="updateWeekly()"
                        [disabled]="updateWeeklyForm.invalid" data-dismiss="modal">Update</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Keluar</button>
                </div>

            </div>

        </div>
    </div>
</div>