<div class="row">
  <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div
          style="text-align: center; min-width: 100%"
          *ngIf="statusShow == 'show'"
        >
          <div class="col-md-12 col-sm-6 grid-margin stretch-card">
            <div class="loader-demo-box">
              <div class="dot-opacity-loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
        <div id="innerdiv" *ngIf="formShow == 'show'">
          <h4 class="card-title" style="font-size: 20px">User Management</h4>
          <br />

          <button
            class="btn btn-success submit-btn"
            style="float: right; margin-top: -40px"
            (click)="exportexcel()"
          >
            Export Excel
          </button>
          <form [formGroup]="insertUserForm">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nama Lengkap</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="userDetail.name"
                    formControlName="name"
                    id="name"
                    name="name"
                    placeholder="Enter new role name"
                  />
                  <div
                    style="color: #ed4a4a; font-size: 12px"
                    *ngIf="
                      insertUserForm.controls.name.invalid &&
                      insertUserForm.controls.name.touched
                    "
                  >
                    Name wajib diisi
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Role</label>
                  <select
                    class="form-control"
                    formControlName="role"
                    (change)="changeRole()"
                    [(ngModel)]="userDetail.role"
                    id="role"
                    name="role"
                  >
                    <option
                      class="dropdown-item"
                      disabled
                      selected
                      value="undefined"
                    >
                      Pilih Role
                    </option>
                    <option
                      *ngFor="let role of listOfRole; let i = index"
                      [value]="role.id"
                    >
                      {{ role.roleName }}
                    </option>
                  </select>
                  <div
                    style="color: #ed4a4a; font-size: 12px"
                    *ngIf="
                      insertUserForm.controls.role.invalid &&
                      insertUserForm.controls.role.touched
                    "
                  >
                    Role wajib diisi
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nama User</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="userDetail.userName"
                    formControlName="userName"
                    id="userName"
                    name="userName"
                    placeholder="Enter new role name"
                  />
                  <div
                    style="color: #ed4a4a; font-size: 12px"
                    *ngIf="
                      insertUserForm.controls.userName.invalid &&
                      insertUserForm.controls.userName.touched
                    "
                  >
                    User name wajib diisi
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Manager</label>
                  <select
                    class="form-control"
                    formControlName="manager"
                    [(ngModel)]="userDetail.manager"
                    id="manager"
                    name="manager"
                  >
                    <option
                      class="dropdown-item"
                      *ngIf="listofManagerTemp.length == 0"
                      disabled
                      selected
                      value="undefined"
                    >
                      Pilih Role dahulu
                    </option>
                    <option *ngIf="roleCode == '-'" [value]="0">-</option>
                    <option
                      *ngFor="let manager of listofManagerTemp; let i = index"
                      [value]="manager.id"
                    >
                      {{ manager.userFullname }}
                    </option>
                  </select>
                  <div
                    style="color: #ed4a4a; font-size: 12px"
                    *ngIf="
                      insertUserForm.controls.manager.invalid &&
                      insertUserForm.controls.manager.touched
                    "
                  >
                    Manager wajib diisi
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">E-mail</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                    [(ngModel)]="userDetail.email"
                    id="email"
                    name="email"
                    placeholder="@multipolar.com"
                  />
                  <div
                    style="color: #ed4a4a; font-size: 12px"
                    *ngIf="
                      insertUserForm.controls.email.invalid &&
                      insertUserForm.controls.email.touched
                    "
                  >
                    E-mail wajib diisi
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="pwd"
                    id="pwd"
                    [(ngModel)]="userDetail.pwd"
                    name="pwd"
                    placeholder="Password"
                  />
                  <div
                    style="color: #ed4a4a; font-size: 12px"
                    *ngIf="
                      insertUserForm.controls.pwd.invalid &&
                      insertUserForm.controls.pwd.touched
                    "
                  >
                    Password wajib diisi
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Telpon</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="tlp"
                    id="tlp"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                    [(ngModel)]="userDetail.tlp"
                    name="pwd"
                    placeholder="No telpon"
                  />
                  <div
                    style="color: #ed4a4a; font-size: 12px"
                    *ngIf="
                      insertUserForm.controls.tlp.invalid &&
                      insertUserForm.controls.tlp.touched
                    "
                  >
                    No Telepon wajib diisi
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Alamat</label>
                  <textarea
                    type="text"
                    class="form-control"
                    id="alamat"
                    maxlength="255"
                    formControlName="alamat"
                    style="width: 100%"
                    name="alamat"
                    [(ngModel)]="userDetail.alamat"
                    placeholder="Alamat"
                  ></textarea>
                  <div
                    style="color: #ed4a4a; font-size: 12px"
                    *ngIf="
                      insertUserForm.controls.alamat.invalid &&
                      insertUserForm.controls.alamat.touched
                    "
                  >
                    Alamat wajib diisi
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10"></div>
              <div class="col-md-2">
                <button
                  type="button"
                  class="btn btn-icons btn-inverse-primary"
                  [disabled]="insertUserForm.invalid"
                  style="float: center; min-width: 100%; margin-bottom: 10px"
                  data-toggle="modal"
                  data-target="#modalCreateUser"
                >
                  Create User
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- <form class="form-sample">
                      <div class="row">
                          <div class="col-md-12">
  
                              <form [formGroup]="insertUserForm">
                                  <div class="form-row">
                                      <div class="col">
                                          <label class="col-md-12 col-form-label">Nama Lengkap</label>
                                          <input type="text" class="form-control" [(ngModel)]="userDetail.name"
                                              formControlName="name" id="name" name="name"
                                              placeholder="Enter new role name">
                                          <div style="color: #ed4a4a; font-size: 12px"
                                              *ngIf="insertUserForm.controls.name.invalid &&  insertUserForm.controls.name.touched">
                                              Name wajib diisi</div>
                                      </div>
                                      <div class="col">
                                          <label class="col-md-12 col-form-label">Username</label>
                                          <input type="text" class="form-control" [(ngModel)]="userDetail.userName"
                                              formControlName="userName" id="userName" name="userName"
                                              placeholder="Enter new role name">
                                          <div style="color: #ed4a4a; font-size: 12px"
                                              *ngIf="insertUserForm.controls.userName.invalid &&  insertUserForm.controls.userName.touched">
                                              User name wajib diisi</div>
                                      </div>
                                      <div class="col">
                                          <label class="col-md-12 col-form-label">Role</label>
                                          <select class="form-control" formControlName="role" (change)="changeRole()"
                                              [(ngModel)]="userDetail.role" id="role" name="role">
                                              <option *ngFor="let role of listOfRole;let i=index" [value]="role.roleId">
                                                  {{role.roleName}}
                                              </option>
                                          </select>
                                          <div style="color: #ed4a4a; font-size: 12px"
                                              *ngIf="insertUserForm.controls.role.invalid &&  insertUserForm.controls.role.touched">
                                              Role wajib diisi</div>
                                      </div>
                                      <div class="col">
                                          <label class="col-md-12 col-form-label">Manager</label>
                                          <select class="form-control" formControlName="manager"
                                              [(ngModel)]="userDetail.manager" id="manager" name="manager">
                                              <option *ngFor="let manager of listofManagerTemp;let i=index"
                                                  [value]="manager.id">{{manager.userFullname}}
                                              </option>
                                          </select>
                                          <div style="color: #ed4a4a; font-size: 12px"
                                              *ngIf="insertUserForm.controls.role.invalid &&  insertUserForm.controls.role.touched">
                                              Role wajib diisi</div>
                                      </div>
                                      <div class="col">
                                          <label class="col-md-12 col-form-label">E-mail</label>
                                          <input type="text" class="form-control" formControlName="email"
                                              [(ngModel)]="userDetail.email" id="email" name="email"
                                              placeholder="@multipolar.com">
                                          <div style="color: #ed4a4a; font-size: 12px"
                                              *ngIf="insertUserForm.controls.email.invalid &&  insertUserForm.controls.email.touched">
                                              E-mail wajib diisi</div>
                                      </div>
                                      <div class="col">
                                          <label class="col-md-12 col-form-label">Password</label>
                                          <input type="password" class="form-control" formControlName="pwd" id="pwd"
                                              [(ngModel)]="userDetail.pwd" name="pwd" placeholder="Password">
                                          <div style="color: #ed4a4a; font-size: 12px"
                                              *ngIf="insertUserForm.controls.pwd.invalid &&  insertUserForm.controls.pwd.touched">
                                              Password wajib diisi</div>
                                      </div>
                                      <div class="col">
                                          <label class="col-md-12 col-form-label" style="color:transparent">-</label>
                                          <button type="button" class="btn btn-icons btn-inverse-primary"
                                              [disabled]="insertUserForm.invalid"
                                              style="float: center; min-width: 150px;margin-bottom:10px"
                                              data-toggle="modal" data-target="#modalCreateUser">
                                              Create User
                                          </button>
                                      </div>
                                  </div>
  
                              </form>
  
                          </div>
                      </div>
                  </form> -->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-12 col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <!-- <div class="modal-body"> -->

          <div class="form-group row">
            <div class="col">
              <label class="col col-form-label"></label>
              <label class="col col-form-label">Search by </label><br />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <label for="exampleInputnamauser">Nama User</label>
              <input
                type="text"
                class="form-control"
                id="userFiltering"
                [(ngModel)]="userFiltering"
                name="userFiltering"
                placeholder="Cari User"
              />
            </div>
          </div>
          <ng-container *ngIf="loadingData == true">
            <div class="loader-demo-box">
              <div class="dot-opacity-loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="loadingData == false">
            <div class="search-table-outter wrapper">
              <table>
                <thead>
                  <tr>
                    <!-- <th>User Id</th> -->
                    <th style="width: 20%">Nama Lengkap</th>
                    <th style="width: 10%">Nama User</th>
                    <th style="width: 10%">Role</th>
                    <th style="width: 10%">Nama Manajer</th>
                    <th style="width: 25%">Email</th>
                    <th style="width: 10%">No telp</th>
                    <!-- <th style="width: 18%;">Alamat</th> -->
                    <th style="width: 13%">Aksi</th>
                  </tr>
                </thead>
                <tbody *ngIf="listUserManagement.length > 0">
                  <!-- <tr *ngFor="let user of listUserManagement | filteruser :userFiltering | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
                                          style="text-align: center;"> -->
                  <tr
                    *ngFor="
                      let user of listUserManagement
                        | paginate: { itemsPerPage: 10, currentPage: p };
                      let i = index
                    "
                    style="text-align: center"
                  >
                    <!-- <td>{{user.userId}}</td> -->
                    <td>{{ user.userFullname }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.manager }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <!-- <td style="max-width: 100px;">{{user.address}}</td> -->
                    <td>
                      <button
                        type="button"
                        class="btn btn-icons btn-inverse-primary"
                        (click)="usermanagementupdate(user.id)"
                        data-toggle="modal"
                        data-target="#modalEditUser"
                      >
                        <i class="mdi mdi-account-edit"></i>
                      </button>

                      <button
                        type="button"
                        class="btn btn-icons btn-inverse-danger"
                        (click)="
                          deleteconfirmedvariable(user.id, user.username)
                        "
                        data-toggle="modal"
                        data-target="#modalDelete"
                      >
                        <i class="mdi mdi-delete"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="listUserManagement.length == 0">
                  <tr class="text-center">
                    <td colspan="6"><b>Data tidak ditemukan !</b></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
          <!-- </div> -->
        </div>
        <br />
        <pagination-controls
          class="my-pagination"
          style="font-family: Arial"
          (pageChange)="p = $event"
          align="right"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add -->
<div
  class="modal fade"
  id="modalCreateUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalCreateUserLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCreateUserLabel">Create User</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin ingin membuat user ini?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          (click)="createUser()"
          data-dismiss="modal"
        >
          Buat
        </button>
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Batal
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete -->
<div
  class="modal fade"
  id="modalDelete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel-3"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Delete Role</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>apakah anda yakin ingin menghapus user ini?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteUser(userIdDelete)"
          data-dismiss="modal"
        >
          Hapus
        </button>
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Batal
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit -->
<div class="modal" id="modalEditUser">
  <div class="modal-dialog" style="min-width: 35%">
    <div class="modal-content">
      <div class="card">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditUserLabel">Edit User</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form class="form-sample">
            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="updateUserForm">
                  <div class="form-group">
                    <label class="col-md-12 col-form-label">Nama Lengkap</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="userDetailUpdate.name"
                      formControlName="name"
                      id="name"
                      name="name"
                      placeholder="Enter new role name"
                    />
                    <div
                      style="color: #ed4a4a; font-size: 12px"
                      *ngIf="
                        updateUserForm.controls.name.invalid &&
                        updateUserForm.controls.name.touched
                      "
                    >
                      Name wajib diisi
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-12 col-form-label">Username</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="userDetailUpdate.userName"
                      formControlName="userName"
                      id="userName"
                      name="userName"
                      placeholder="Enter new role name"
                      readonly
                    />
                    <div
                      style="color: #ed4a4a; font-size: 12px"
                      *ngIf="
                        updateUserForm.controls.userName.invalid &&
                        updateUserForm.controls.userName.touched
                      "
                    >
                      User name wajib diisi
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-12 col-form-label">Role</label>
                    <!-- <select class="form-control" formControlName="role" (change)="changeRoleUpdate()"
                                              [(ngModel)]="userDetailUpdate  .role" id="role" name="role" readonly>
                                              <option *ngFor="let role of listOfRole;let i=index" [value]="role.roleId">
                                                  {{role.roleName}}
                                              </option>
                                          </select> -->
                    <input
                      type="text"
                      class="form-control"
                      formControlName="roleId"
                      [(ngModel)]="userDetailUpdate.role"
                      hidden
                    />
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="userDetailUpdate.roleName"
                      formControlName="role"
                      id="role"
                      name="role"
                      placeholder="Enter new role name"
                      readonly
                    />
                    <div
                      style="color: #ed4a4a; font-size: 12px"
                      *ngIf="
                        updateUserForm.controls.role.invalid &&
                        updateUserForm.controls.role.touched
                      "
                    >
                      Role wajib diisi
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-12 col-form-label">Manager</label>
                    <select
                      class="form-control"
                      formControlName="manager"
                      [(ngModel)]="userDetailUpdate.manager"
                      id="manager"
                      name="manager"
                    >
                      <option
                        class="dropdown-item"
                        disabled
                        selected
                        value="undefined"
                      >
                        Pilih manajer
                      </option>
                      <option *ngIf="roleCode == '-'" selected value="0">
                        -
                      </option>
                      <option
                        *ngFor="let manager of listofManagerTemp; let i = index"
                        [ngValue]="manager.id"
                      >
                        {{ manager.userFullname }}
                      </option>
                    </select>
                    <div
                      style="color: #ed4a4a; font-size: 12px"
                      *ngIf="
                        updateUserForm.controls.role.invalid &&
                        updateUserForm.controls.role.touched
                      "
                    >
                      Role wajib diisi
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-12 col-form-label">E-mail</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="email"
                      [(ngModel)]="userDetailUpdate.email"
                      id="email"
                      name="email"
                      placeholder="Enter new role name"
                      readonly
                    />
                    <div
                      style="color: #ed4a4a; font-size: 12px"
                      *ngIf="
                        updateUserForm.controls.email.invalid &&
                        updateUserForm.controls.email.touched
                      "
                    >
                      E-mail wajib diisi
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-12 col-form-label">No telp</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="tlp"
                      [(ngModel)]="userDetailUpdate.tlp"
                      id="tlp"
                      name="tlp"
                      placeholder="No telpon"
                    />
                    <div
                      style="color: #ed4a4a; font-size: 12px"
                      *ngIf="
                        updateUserForm.controls.tlp.invalid &&
                        updateUserForm.controls.tlp.touched
                      "
                    >
                      No telpon wajib diisi
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-12 col-form-label">Alamat</label>
                    <textarea
                      type="text"
                      class="form-control"
                      id="alamat"
                      maxlength="255"
                      formControlName="alamat"
                      style="width: 100%"
                      name="alamat"
                      [(ngModel)]="userDetailUpdate.alamat"
                      placeholder="Alamat"
                    ></textarea>
                    <!-- <input type="text" class="form-control" formControlName="alamat"
                                                  [(ngModel)]="userDetailUpdate.alamat" id="alamat" name="alamat"
                                                  placeholder="Alamat"> -->
                    <div
                      style="color: #ed4a4a; font-size: 12px"
                      *ngIf="
                        updateUserForm.controls.alamat.invalid &&
                        updateUserForm.controls.alamat.touched
                      "
                    >
                      Alamat wajib diisi
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="updateUserForm.invalid"
            (click)="updateUser()"
            data-dismiss="modal"
          >
            Update
          </button>
          <button type="button" class="btn btn-light" data-dismiss="modal">
            Keluar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
